{
  "openapi": "3.0.0",
  "info": {
    "title": "OpenAI generation",
    "version": "1.0.0",
    "description": "API reference for OpenAI generation on Ace Data Cloud."
  },
  "servers": [
    {
      "url": "https://api.acedata.cloud",
      "description": "Ace Data Cloud API"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token from https://platform.acedata.cloud"
      }
    },
    "schemas": {
      "ResponsesInput": {
        "oneOf": [
          {
            "type": "string"
          },
          {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/ResponsesInputItem"
            }
          }
        ],
        "description": "Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Responsesinput.14Feedcd5C3D"
      },
      "ResponsesInputItem": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ResponsesMessageInput"
          },
          {
            "$ref": "#/components/schemas/ResponsesFunctionToolCall"
          },
          {
            "$ref": "#/components/schemas/ResponsesFunctionToolCallOutput"
          },
          {
            "$ref": "#/components/schemas/ResponsesCustomToolCall"
          },
          {
            "$ref": "#/components/schemas/ResponsesCustomToolCallOutput"
          },
          {
            "$ref": "#/components/schemas/ResponsesAdditionalTools"
          },
          {
            "$ref": "#/components/schemas/ResponsesOpenInputItem"
          }
        ],
        "discriminator": {
          "propertyName": "type"
        }
      },
      "ResponsesMessageInput": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "message"
            ]
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant",
              "system",
              "developer"
            ]
          },
          "content": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            ]
          },
          "phase": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ResponsesCustomToolCall": {
        "type": "object",
        "required": [
          "type",
          "call_id",
          "name",
          "input"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "custom_tool_call"
            ]
          },
          "id": {
            "type": "string"
          },
          "call_id": {
            "type": "string",
            "description": "Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Call Id.8C6Ca8028A3E"
          },
          "name": {
            "type": "string"
          },
          "namespace": {
            "type": "string",
            "description": "Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Namespace.713201D1840C"
          },
          "input": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "ResponsesCustomToolCallOutput": {
        "type": "object",
        "required": [
          "type",
          "call_id",
          "output"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "custom_tool_call_output"
            ]
          },
          "id": {
            "type": "string"
          },
          "call_id": {
            "type": "string",
            "description": "Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Call Id.56Bb02E66Ff9"
          },
          "output": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            ]
          }
        },
        "additionalProperties": true
      },
      "ResponsesAdditionalTools": {
        "type": "object",
        "required": [
          "type",
          "role",
          "tools"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "additional_tools"
            ]
          },
          "role": {
            "type": "string",
            "enum": [
              "developer"
            ]
          },
          "tools": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/ResponsesTool"
            }
          }
        }
      },
      "ResponsesTool": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ResponsesCustomTool"
          },
          {
            "$ref": "#/components/schemas/ResponsesFunctionTool"
          },
          {
            "$ref": "#/components/schemas/ResponsesNamespaceTool"
          },
          {
            "$ref": "#/components/schemas/ResponsesOpenTool"
          }
        ],
        "discriminator": {
          "propertyName": "type"
        }
      },
      "ResponsesCustomTool": {
        "type": "object",
        "required": [
          "type",
          "name"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "custom"
            ]
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "format": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "ResponsesFunctionTool": {
        "type": "object",
        "required": [
          "type",
          "name"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "function"
            ]
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "parameters": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          },
          "strict": {
            "type": "boolean",
            "nullable": true
          }
        }
      },
      "ResponsesNamespaceTool": {
        "type": "object",
        "required": [
          "type",
          "name",
          "description",
          "tools"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "namespace"
            ]
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Name.E87F9B9F039A"
          },
          "description": {
            "type": "string"
          },
          "tools": {
            "type": "array",
            "minItems": 1,
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ResponsesCustomTool"
                },
                {
                  "$ref": "#/components/schemas/ResponsesFunctionTool"
                }
              ],
              "discriminator": {
                "propertyName": "type"
              }
            }
          }
        }
      },
      "ResponsesOutputItem": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ResponsesOutputMessage"
          },
          {
            "$ref": "#/components/schemas/ResponsesFunctionToolCall"
          },
          {
            "$ref": "#/components/schemas/ResponsesCustomToolCall"
          },
          {
            "$ref": "#/components/schemas/ResponsesOpenOutputItem"
          }
        ],
        "discriminator": {
          "propertyName": "type"
        }
      },
      "ResponsesOutputMessage": {
        "type": "object",
        "required": [
          "type",
          "role",
          "content"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "message"
            ]
          },
          "id": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "assistant"
            ]
          },
          "status": {
            "type": "string"
          },
          "content": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": true
      },
      "ResponsesUsage": {
        "type": "object",
        "required": [
          "input_tokens",
          "output_tokens",
          "total_tokens"
        ],
        "properties": {
          "input_tokens": {
            "type": "integer"
          },
          "output_tokens": {
            "type": "integer"
          },
          "total_tokens": {
            "type": "integer"
          },
          "input_tokens_details": {
            "type": "object",
            "additionalProperties": true
          },
          "output_tokens_details": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "ResponsesResponse": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "model",
          "output"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "response"
            ]
          },
          "created_at": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "completed",
              "failed",
              "in_progress",
              "incomplete",
              "queued",
              "cancelled"
            ]
          },
          "model": {
            "type": "string"
          },
          "output": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResponsesOutputItem"
            }
          },
          "output_text": {
            "type": "string"
          },
          "usage": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ResponsesUsage"
              }
            ],
            "nullable": true
          },
          "error": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "ResponsesStreamEvent": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Type.Fab6416D3441"
          },
          "response": {
            "$ref": "#/components/schemas/ResponsesResponse"
          },
          "item": {
            "$ref": "#/components/schemas/ResponsesOutputItem"
          },
          "output_index": {
            "type": "integer"
          },
          "delta": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "ResponsesFunctionToolCall": {
        "type": "object",
        "required": [
          "type",
          "call_id",
          "name",
          "arguments"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "function_call"
            ]
          },
          "id": {
            "type": "string"
          },
          "call_id": {
            "type": "string",
            "description": "Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Call Id.4A7F97Cae969"
          },
          "name": {
            "type": "string"
          },
          "arguments": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "ResponsesFunctionToolCallOutput": {
        "type": "object",
        "required": [
          "type",
          "output"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "function_call_output"
            ]
          },
          "id": {
            "type": "string"
          },
          "call_id": {
            "type": "string",
            "nullable": true,
            "description": "Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Call Id.2De867Df3989"
          },
          "output": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            ]
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Name.C324F7126A7C"
          },
          "namespace": {
            "type": "string",
            "nullable": true,
            "description": "Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Namespace.Bf3297183432"
          }
        },
        "additionalProperties": true
      },
      "ResponsesOpenInputItem": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "not": {
              "enum": [
                "message",
                "function_call",
                "function_call_output",
                "custom_tool_call",
                "custom_tool_call_output",
                "additional_tools"
              ]
            }
          }
        },
        "additionalProperties": true,
        "description": "Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Responsesopeninputitem.E574D2Efca8F"
      },
      "ResponsesOpenTool": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "not": {
              "enum": [
                "custom",
                "function",
                "namespace"
              ]
            }
          }
        },
        "additionalProperties": true,
        "description": "Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Responsesopentool.7F928862419E"
      },
      "ResponsesOpenOutputItem": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "not": {
              "enum": [
                "message",
                "function_call",
                "custom_tool_call"
              ]
            }
          }
        },
        "additionalProperties": true,
        "description": "Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Responsesopenoutputitem.03A8Aa0Cff8B"
      },
      "OpenaiTaskRequestPayload": {
        "type": "object",
        "additionalProperties": true,
        "description": "Openapi.8Ff29E12B8144484Ab50D39773A7A563.Openaitaskrequestpayload.5B2983943843"
      },
      "OpenaiTaskResultPayload": {
        "type": "object",
        "additionalProperties": true,
        "description": "Openapi.8Ff29E12B8144484Ab50D39773A7A563.Openaitaskresultpayload.6A35F882Aa4E"
      },
      "OpenaiTaskRecord": {
        "type": "object",
        "required": [
          "id",
          "type",
          "created_at",
          "trace_id",
          "request"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Openapi.8Ff29E12B8144484Ab50D39773A7A563.Id.F0C4D04Ac901"
          },
          "type": {
            "type": "string",
            "description": "Openapi.8Ff29E12B8144484Ab50D39773A7A563.Type.2377365D580B"
          },
          "trace_id": {
            "type": "string",
            "description": "Openapi.8Ff29E12B8144484Ab50D39773A7A563.Trace Id.294E865Afe7D"
          },
          "request": {
            "$ref": "#/components/schemas/OpenaiTaskRequestPayload"
          },
          "response": {
            "$ref": "#/components/schemas/OpenaiTaskResultPayload"
          },
          "created_at": {
            "type": "number",
            "format": "double",
            "description": "Openapi.8Ff29E12B8144484Ab50D39773A7A563.Created At.7Eb1Ea25D63F"
          },
          "started_at": {
            "type": "number",
            "format": "double",
            "description": "Openapi.8Ff29E12B8144484Ab50D39773A7A563.Started At.7B96764Eca42"
          },
          "finished_at": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "description": "Openapi.8Ff29E12B8144484Ab50D39773A7A563.Finished At.Af98E2F04Efa"
          },
          "elapsed": {
            "type": "number",
            "format": "double",
            "minimum": 0,
            "nullable": true,
            "description": "Openapi.8Ff29E12B8144484Ab50D39773A7A563.Elapsed.438Ff25Abacb"
          },
          "user_id": {
            "type": "string",
            "description": "Openapi.8Ff29E12B8144484Ab50D39773A7A563.User Id.3444939Bec0F",
            "nullable": true
          },
          "actor_user_id": {
            "type": "string",
            "nullable": true,
            "description": "Openapi.8Ff29E12B8144484Ab50D39773A7A563.Actor User Id.2952Ff9B7F38"
          },
          "api_id": {
            "type": "string",
            "description": "Openapi.8Ff29E12B8144484Ab50D39773A7A563.Api Id.45Cf1B2E805B"
          },
          "application_id": {
            "type": "string",
            "description": "Openapi.8Ff29E12B8144484Ab50D39773A7A563.Application Id.3Fbf90Fcc98C"
          },
          "credential_id": {
            "type": "string",
            "nullable": true,
            "description": "Openapi.8Ff29E12B8144484Ab50D39773A7A563.Credential Id.7E41Bc205Fd2"
          },
          "authorization_id": {
            "type": "string",
            "nullable": true,
            "description": "Openapi.8Ff29E12B8144484Ab50D39773A7A563.Authorization Id.271938Ba5A22"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/openai/chat/completions": {
      "post": {
        "summary": "Openai Chat Completions",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "choices",
                    "created",
                    "id",
                    "model",
                    "object"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Openai Chat Completions Response 200 Id"
                    },
                    "model": {
                      "type": "string",
                      "description": "Openai Chat Completions Response 200 Model"
                    },
                    "object": {
                      "enum": [
                        "chat.completion"
                      ],
                      "type": "string",
                      "description": "Openai Chat Completions Response 200 Object"
                    },
                    "choices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "finish_reason",
                          "index",
                          "message"
                        ],
                        "properties": {
                          "index": {
                            "type": "number",
                            "description": "Openai Chat Completions Response 200 Choices Index"
                          },
                          "message": {
                            "type": "object",
                            "required": [
                              "role"
                            ],
                            "properties": {
                              "role": {
                                "enum": [
                                  "assistant"
                                ],
                                "type": "string",
                                "description": "Openai Chat Completions Response 200 Choices Message Role"
                              },
                              "content": {
                                "type": "string",
                                "nullable": true,
                                "description": "Openai Chat Completions Response 200 Choices Message"
                              },
                              "tool_calls": {
                                "type": "array",
                                "nullable": true,
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "id",
                                    "type",
                                    "function"
                                  ],
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "Openai Chat Completions Response 200 Choices Message Tool Calls Id"
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "function"
                                      ],
                                      "description": "Openai Chat Completions Response 200 Choices Message Tool Calls Type"
                                    },
                                    "function": {
                                      "type": "object",
                                      "required": [
                                        "name",
                                        "arguments"
                                      ],
                                      "properties": {
                                        "name": {
                                          "type": "string",
                                          "description": "Openai Chat Completions Response 200 Choices Message Tool Calls Function Name"
                                        },
                                        "arguments": {
                                          "type": "string",
                                          "description": "Openai Chat Completions Response 200 Choices Message Tool Calls Function Arguments"
                                        }
                                      },
                                      "description": "Openai Chat Completions Response 200 Choices Message Tool Calls Function"
                                    }
                                  }
                                },
                                "description": "Openai Chat Completions Response 200 Choices Message Tool Calls"
                              },
                              "refusal": {
                                "type": "string",
                                "nullable": true,
                                "description": "Openai Chat Completions Response 200 Choices Message Refusal"
                              },
                              "audio": {
                                "type": "object",
                                "nullable": true,
                                "required": [
                                  "id",
                                  "data",
                                  "expires_at"
                                ],
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "Openai Chat Completions Response 200 Choices Message Audio Id"
                                  },
                                  "expires_at": {
                                    "type": "integer",
                                    "description": "Openai Chat Completions Response 200 Choices Message Audio Expires At"
                                  },
                                  "data": {
                                    "type": "string",
                                    "description": "Openai Chat Completions Response 200 Choices Message Audio Data"
                                  },
                                  "transcript": {
                                    "type": "string",
                                    "description": "Openai Chat Completions Response 200 Choices Message Audio Transcript"
                                  }
                                },
                                "description": "Openai Chat Completions Response 200 Choices Message Audio"
                              }
                            },
                            "description": "Openai Chat Completions Response 200 Choices Message 2"
                          },
                          "finish_reason": {
                            "enum": [
                              "stop",
                              "length",
                              "tool_calls",
                              "content_filter",
                              "function_call"
                            ],
                            "type": "string",
                            "description": "Openai Chat Completions Response 200 Choices Finish Reason"
                          },
                          "logprobs": {
                            "type": "object",
                            "nullable": true,
                            "description": "Openai Chat Completions Response 200 Choices Logprobs",
                            "additionalProperties": true
                          }
                        }
                      },
                      "description": "Openai Chat Completions Response 200 Choices"
                    },
                    "created": {
                      "type": "number",
                      "description": "Openai Chat Completions Response 200 Created"
                    },
                    "system_fingerprint": {
                      "type": "string",
                      "description": "Openai Chat Completions Response 200 System Fingerprint"
                    },
                    "usage": {
                      "type": "object",
                      "required": [
                        "prompt_tokens",
                        "completion_tokens",
                        "total_tokens"
                      ],
                      "properties": {
                        "prompt_tokens": {
                          "type": "integer",
                          "description": "Openai Chat Completions Response 200 Usage Prompt Tokens"
                        },
                        "completion_tokens": {
                          "type": "integer",
                          "description": "Openai Chat Completions Response 200 Usage Completion Tokens"
                        },
                        "total_tokens": {
                          "type": "integer",
                          "description": "Openai Chat Completions Response 200 Usage Total Tokens"
                        },
                        "prompt_tokens_details": {
                          "type": "object",
                          "properties": {
                            "cached_tokens": {
                              "type": "integer",
                              "description": "Openai Chat Completions Response 200 Usage Prompt Tokens Details Cached Tokens"
                            },
                            "audio_tokens": {
                              "type": "integer",
                              "description": "Openai Chat Completions Response 200 Usage Prompt Tokens Details Audio Tokens"
                            }
                          },
                          "description": "Openai Chat Completions Response 200 Usage Prompt Tokens Details"
                        },
                        "completion_tokens_details": {
                          "type": "object",
                          "properties": {
                            "reasoning_tokens": {
                              "type": "integer",
                              "description": "Openai Chat Completions Response 200 Usage Completion Tokens Details Reasoning Tokens"
                            },
                            "audio_tokens": {
                              "type": "integer",
                              "description": "Openai Chat Completions Response 200 Usage Completion Tokens Details Audio Tokens"
                            },
                            "accepted_prediction_tokens": {
                              "type": "integer",
                              "description": "Openai Chat Completions Response 200 Usage Completion Tokens Details Accepted Prediction Tokens"
                            },
                            "rejected_prediction_tokens": {
                              "type": "integer",
                              "description": "Openai Chat Completions Response 200 Usage Completion Tokens Details Rejected Prediction Tokens"
                            }
                          },
                          "description": "Openai Chat Completions Response 200 Usage Completion Tokens Details"
                        }
                      },
                      "description": "Openai Chat Completions Response 200 Usage"
                    }
                  },
                  "description": "Openai Chat Completions Response 200"
                }
              }
            },
            "description": "Openai Chat Completions Response 200 2"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Openai Chat Completions Response 400 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Openai Chat Completions Response 400 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Openai Chat Completions Response 400 Trace Id"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_not_implemented",
                          "message": "The API is not implemented."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_not_implemented",
                              "description": "Openai Chat Completions Response 400 Error Code 2"
                            },
                            "message": {
                              "type": "string",
                              "example": "The API is not implemented.",
                              "description": "Openai Chat Completions Response 400 Error Message 2"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Openai Chat Completions Response 400 Trace Id 2"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Openai Chat Completions Response 400"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Openai Chat Completions Response 401 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Openai Chat Completions Response 401 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Openai Chat Completions Response 401 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Openai Chat Completions Response 401"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Openai Chat Completions Response 429 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Openai Chat Completions Response 429 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Openai Chat Completions Response 429 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Openai Chat Completions Response 429"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Openai Chat Completions Response 500 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Openai Chat Completions Response 500 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Openai Chat Completions Response 500 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Openai Chat Completions Response 500"
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Openai Chat Completions Param Accept"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "messages"
                ],
                "properties": {
                  "n": {
                    "type": "number",
                    "default": 1,
                    "example": 1,
                    "maximum": 128,
                    "minimum": 1,
                    "nullable": true,
                    "description": "Openai Chat Completions N"
                  },
                  "model": {
                    "enum": [
                      "gpt-6.1-sol",
                      "gpt-6-sol",
                      "gpt-6-luna",
                      "gpt-6-astra",
                      "gpt-oss:free",
                      "gpt-5.5:free",
                      "gpt-5:free",
                      "gpt-4.1:free",
                      "gpt-4o:free",
                      "gpt-4o-mini:free",
                      "gpt-5.6-luna",
                      "gpt-5.6-terra",
                      "gpt-5.6-sol",
                      "gpt-5.5",
                      "gpt-5.5-pro",
                      "gpt-5.4",
                      "gpt-5.4-mini",
                      "gpt-5.4-nano",
                      "gpt-5.4-pro",
                      "gpt-5.2",
                      "gpt-5.1",
                      "gpt-5.1-all",
                      "gpt-5",
                      "gpt-5-pro",
                      "gpt-5-mini",
                      "gpt-5-nano",
                      "gpt-4",
                      "gpt-4.1",
                      "gpt-4.1-mini",
                      "gpt-4.1-nano",
                      "gpt-4o",
                      "gpt-4o-2024-05-13",
                      "gpt-4o-all",
                      "gpt-4o-image",
                      "gpt-4o-mini",
                      "gpt-35-turbo-16k",
                      "o1",
                      "o1-mini",
                      "o1-pro",
                      "o3",
                      "o3-mini",
                      "o3-pro",
                      "o4-mini"
                    ],
                    "type": "string",
                    "example": "gpt-4o-mini",
                    "description": "Openai Chat Completions Model"
                  },
                  "stream": {
                    "type": "boolean",
                    "default": false,
                    "nullable": true,
                    "description": "Openai Chat Completions Stream"
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "role"
                      ],
                      "properties": {
                        "role": {
                          "enum": [
                            "user",
                            "assistant",
                            "system",
                            "developer",
                            "tool"
                          ],
                          "type": "string",
                          "description": "Openai Chat Completions Messages Role"
                        },
                        "content": {
                          "oneOf": [
                            {
                              "type": "string",
                              "description": "Openai Chat Completions Messages"
                            },
                            {
                              "type": "array",
                              "items": {
                                "oneOf": [
                                  {
                                    "type": "object",
                                    "required": [
                                      "type",
                                      "text"
                                    ],
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "text"
                                        ],
                                        "description": "Openai Chat Completions Messages Type"
                                      },
                                      "text": {
                                        "type": "string",
                                        "description": "Openai Chat Completions Messages Text"
                                      }
                                    }
                                  },
                                  {
                                    "type": "object",
                                    "required": [
                                      "type",
                                      "image_url"
                                    ],
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "image_url"
                                        ],
                                        "description": "Openai Chat Completions Messages Type 2"
                                      },
                                      "image_url": {
                                        "type": "object",
                                        "required": [
                                          "url"
                                        ],
                                        "properties": {
                                          "url": {
                                            "type": "string",
                                            "description": "Openai Chat Completions Messages Image Url Url"
                                          },
                                          "detail": {
                                            "type": "string",
                                            "enum": [
                                              "auto",
                                              "low",
                                              "high"
                                            ],
                                            "default": "auto",
                                            "description": "Openai Chat Completions Messages Image Url Detail"
                                          }
                                        },
                                        "description": "Openai Chat Completions Messages Image Url"
                                      }
                                    }
                                  },
                                  {
                                    "type": "object",
                                    "required": [
                                      "type",
                                      "input_audio"
                                    ],
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "input_audio"
                                        ],
                                        "description": "Openai Chat Completions Messages Type 3"
                                      },
                                      "input_audio": {
                                        "type": "object",
                                        "required": [
                                          "data",
                                          "format"
                                        ],
                                        "properties": {
                                          "data": {
                                            "type": "string",
                                            "description": "Openai Chat Completions Messages Input Audio Data"
                                          },
                                          "format": {
                                            "type": "string",
                                            "enum": [
                                              "wav",
                                              "mp3"
                                            ],
                                            "description": "Openai Chat Completions Messages Input Audio Format"
                                          }
                                        },
                                        "description": "Openai Chat Completions Messages Input Audio"
                                      }
                                    }
                                  },
                                  {
                                    "type": "object",
                                    "required": [
                                      "type",
                                      "file"
                                    ],
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "file"
                                        ],
                                        "description": "Openai Chat Completions Messages Type 4"
                                      },
                                      "file": {
                                        "type": "object",
                                        "properties": {
                                          "filename": {
                                            "type": "string",
                                            "description": "Openai Chat Completions Messages File Filename"
                                          },
                                          "file_data": {
                                            "type": "string",
                                            "description": "Openai Chat Completions Messages File File Data"
                                          },
                                          "file_id": {
                                            "type": "string",
                                            "description": "Openai Chat Completions Messages File File Id"
                                          }
                                        },
                                        "description": "Openai Chat Completions Messages File"
                                      }
                                    }
                                  }
                                ]
                              },
                              "minItems": 1,
                              "description": "Openai Chat Completions Messages 2"
                            }
                          ],
                          "description": "Openai Chat Completions Messages 3"
                        },
                        "name": {
                          "type": "string",
                          "description": "Openai Chat Completions Messages Name"
                        },
                        "tool_call_id": {
                          "type": "string",
                          "description": "Openai Chat Completions Messages Tool Call Id"
                        },
                        "tool_calls": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "id",
                              "type",
                              "function"
                            ],
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Openai Chat Completions Messages Tool Calls Id"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "function"
                                ],
                                "description": "Openai Chat Completions Messages Tool Calls Type"
                              },
                              "function": {
                                "type": "object",
                                "required": [
                                  "name",
                                  "arguments"
                                ],
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "description": "Openai Chat Completions Messages Tool Calls Function Name"
                                  },
                                  "arguments": {
                                    "type": "string",
                                    "description": "Openai Chat Completions Messages Tool Calls Function Arguments"
                                  }
                                }
                              }
                            }
                          },
                          "description": "Openai Chat Completions Messages Tool Calls"
                        },
                        "refusal": {
                          "type": "string",
                          "nullable": true,
                          "description": "Openai Chat Completions Messages Refusal"
                        }
                      }
                    },
                    "minItems": 1,
                    "description": "Openai Chat Completions Messages 4"
                  },
                  "max_tokens": {
                    "type": "number",
                    "nullable": true,
                    "description": "Openai Chat Completions Max Tokens"
                  },
                  "temperature": {
                    "type": "number",
                    "default": 1,
                    "example": 1,
                    "maximum": 2,
                    "minimum": 0,
                    "nullable": true,
                    "description": "Openai Chat Completions Temperature"
                  },
                  "response_format": {
                    "oneOf": [
                      {
                        "type": "object",
                        "required": [
                          "type"
                        ],
                        "properties": {
                          "type": {
                            "enum": [
                              "text"
                            ],
                            "type": "string",
                            "description": "Openai Chat Completions Response Format Type"
                          }
                        },
                        "description": "Openai Chat Completions Response Format"
                      },
                      {
                        "type": "object",
                        "required": [
                          "type"
                        ],
                        "properties": {
                          "type": {
                            "enum": [
                              "json_object"
                            ],
                            "type": "string",
                            "description": "Openai Chat Completions Response Format Type 2"
                          }
                        },
                        "description": "Openai Chat Completions Response Format 2"
                      },
                      {
                        "type": "object",
                        "required": [
                          "type",
                          "json_schema"
                        ],
                        "properties": {
                          "type": {
                            "enum": [
                              "json_schema"
                            ],
                            "type": "string",
                            "description": "Openai Chat Completions Response Format Type 3"
                          },
                          "json_schema": {
                            "type": "object",
                            "required": [
                              "name"
                            ],
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Openai Chat Completions Response Format Json Schema Name"
                              },
                              "description": {
                                "type": "string",
                                "description": "Openai Chat Completions Response Format Json Schema Description"
                              },
                              "schema": {
                                "type": "object",
                                "description": "Openai Chat Completions Response Format Json Schema",
                                "additionalProperties": true
                              },
                              "strict": {
                                "type": "boolean",
                                "default": false,
                                "nullable": true,
                                "description": "Openai Chat Completions Response Format Json Schema Strict"
                              }
                            }
                          }
                        },
                        "description": "Openai Chat Completions Response Format 3"
                      }
                    ],
                    "description": "Openai Chat Completions Response Format 4"
                  },
                  "tools": {
                    "type": "array",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "function"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "function"
                          ],
                          "description": "Openai Chat Completions Tools Type"
                        },
                        "function": {
                          "type": "object",
                          "required": [
                            "name"
                          ],
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Openai Chat Completions Tools Function Name"
                            },
                            "description": {
                              "type": "string",
                              "description": "Openai Chat Completions Tools Function Description"
                            },
                            "parameters": {
                              "type": "object",
                              "description": "Openai Chat Completions Tools Function",
                              "additionalProperties": true
                            }
                          },
                          "description": "Openai Chat Completions Tools Function 2"
                        }
                      }
                    },
                    "description": "Openai Chat Completions Tools"
                  },
                  "tool_choice": {
                    "oneOf": [
                      {
                        "type": "string",
                        "enum": [
                          "none",
                          "auto",
                          "required"
                        ],
                        "description": "Openai Chat Completions Tool Choice"
                      },
                      {
                        "type": "object",
                        "required": [
                          "type",
                          "function"
                        ],
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "function"
                            ],
                            "description": "Openai Chat Completions Tool Choice Type"
                          },
                          "function": {
                            "type": "object",
                            "required": [
                              "name"
                            ],
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Openai Chat Completions Tool Choice Function Name"
                              }
                            }
                          }
                        },
                        "description": "Openai Chat Completions Tool Choice 2"
                      }
                    ],
                    "description": "Openai Chat Completions Tool Choice 3"
                  },
                  "top_p": {
                    "type": "number",
                    "default": 1,
                    "example": 1,
                    "maximum": 1,
                    "minimum": 0,
                    "nullable": true,
                    "description": "Openai Chat Completions Top P"
                  },
                  "frequency_penalty": {
                    "type": "number",
                    "default": 0,
                    "example": 0,
                    "maximum": 2,
                    "minimum": -2,
                    "nullable": true,
                    "description": "Openai Chat Completions Frequency Penalty"
                  },
                  "presence_penalty": {
                    "type": "number",
                    "default": 0,
                    "example": 0,
                    "maximum": 2,
                    "minimum": -2,
                    "nullable": true,
                    "description": "Openai Chat Completions Presence Penalty"
                  },
                  "seed": {
                    "type": "integer",
                    "nullable": true,
                    "description": "Openai Chat Completions Seed"
                  },
                  "stop": {
                    "nullable": true,
                    "oneOf": [
                      {
                        "type": "string",
                        "description": "Openai Chat Completions Stop"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "minItems": 1,
                        "maxItems": 4,
                        "description": "Openai Chat Completions Stop 2"
                      }
                    ],
                    "description": "Openai Chat Completions Stop 3"
                  },
                  "max_completion_tokens": {
                    "type": "integer",
                    "nullable": true,
                    "description": "Openai Chat Completions Max Completion Tokens"
                  },
                  "logprobs": {
                    "type": "boolean",
                    "default": false,
                    "nullable": true,
                    "description": "Openai Chat Completions Logprobs"
                  },
                  "top_logprobs": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 20,
                    "nullable": true,
                    "description": "Openai Chat Completions Top Logprobs"
                  },
                  "stream_options": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "include_usage": {
                        "type": "boolean",
                        "description": "Openai Chat Completions Stream Options Include Usage"
                      }
                    },
                    "description": "Openai Chat Completions Stream Options"
                  },
                  "parallel_tool_calls": {
                    "type": "boolean",
                    "default": true,
                    "description": "Openai Chat Completions Parallel Tool Calls"
                  },
                  "user": {
                    "type": "string",
                    "description": "Openai Chat Completions User"
                  },
                  "reasoning_effort": {
                    "type": "string",
                    "enum": [
                      "minimal",
                      "low",
                      "medium",
                      "high",
                      "xhigh",
                      "max"
                    ],
                    "default": "medium",
                    "nullable": true,
                    "description": "Openai Chat Completions Reasoning Effort"
                  },
                  "service_tier": {
                    "type": "string",
                    "enum": [
                      "auto",
                      "default",
                      "flex",
                      "scale",
                      "priority"
                    ],
                    "default": "auto",
                    "nullable": true,
                    "description": "Openai Chat Completions Service Tier"
                  },
                  "store": {
                    "type": "boolean",
                    "default": false,
                    "nullable": true,
                    "description": "Openai Chat Completions Store"
                  },
                  "metadata": {
                    "type": "object",
                    "nullable": true,
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Openai Chat Completions Metadata"
                  },
                  "logit_bias": {
                    "type": "object",
                    "nullable": true,
                    "additionalProperties": {
                      "type": "integer"
                    },
                    "description": "Openai Chat Completions Logit Bias"
                  },
                  "modalities": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "text",
                        "audio"
                      ]
                    },
                    "nullable": true,
                    "description": "Openai Chat Completions Modalities"
                  },
                  "audio": {
                    "type": "object",
                    "nullable": true,
                    "required": [
                      "voice",
                      "format"
                    ],
                    "properties": {
                      "voice": {
                        "type": "string",
                        "enum": [
                          "alloy",
                          "ash",
                          "ballad",
                          "coral",
                          "echo",
                          "fable",
                          "nova",
                          "onyx",
                          "sage",
                          "shimmer"
                        ],
                        "description": "Openai Chat Completions Audio Voice"
                      },
                      "format": {
                        "type": "string",
                        "enum": [
                          "wav",
                          "aac",
                          "mp3",
                          "flac",
                          "opus",
                          "pcm16"
                        ],
                        "description": "Openai Chat Completions Audio Format"
                      }
                    },
                    "description": "Openai Chat Completions Audio"
                  },
                  "prediction": {
                    "type": "object",
                    "nullable": true,
                    "required": [
                      "type",
                      "content"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "content"
                        ],
                        "description": "Openai Chat Completions Prediction Type"
                      },
                      "content": {
                        "oneOf": [
                          {
                            "type": "string",
                            "description": "Openai Chat Completions Prediction"
                          },
                          {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "required": [
                                "type",
                                "text"
                              ],
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "text"
                                  ]
                                },
                                "text": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        ],
                        "description": "Openai Chat Completions Prediction 2"
                      }
                    },
                    "description": "Openai Chat Completions Prediction 3"
                  },
                  "web_search_options": {
                    "type": "object",
                    "properties": {
                      "search_context_size": {
                        "type": "string",
                        "enum": [
                          "low",
                          "medium",
                          "high"
                        ],
                        "default": "medium",
                        "description": "Openai Chat Completions Web Search Options Search Context Size"
                      },
                      "user_location": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "approximate"
                            ]
                          },
                          "approximate": {
                            "type": "object",
                            "properties": {
                              "country": {
                                "type": "string"
                              },
                              "region": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "timezone": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "description": "Openai Chat Completions Web Search Options User Location"
                      }
                    },
                    "description": "Openai Chat Completions Web Search Options"
                  }
                }
              },
              "example": {
                "n": 1,
                "model": "gpt-4o-mini",
                "messages": [
                  {
                    "role": "user",
                    "content": "Hello!"
                  }
                ],
                "temperature": 1,
                "top_p": 1,
                "frequency_penalty": 0,
                "presence_penalty": 0
              }
            }
          },
          "required": true
        },
        "operationId": "OpenaicreateOpenaiChatCompletions"
      }
    },
    "/openai/embeddings": {
      "post": {
        "summary": "Creates an embedding vector representing the input text.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Openai Embeddings Response 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "model",
                    "usage",
                    "created"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "list"
                      ],
                      "description": "Openai Embeddings Response 200 Object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "object",
                          "index",
                          "embedding"
                        ],
                        "properties": {
                          "object": {
                            "type": "string",
                            "enum": [
                              "embedding"
                            ]
                          },
                          "index": {
                            "type": "integer"
                          },
                          "embedding": {
                            "description": "Openai Embeddings Response 200 Data Embedding",
                            "oneOf": [
                              {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              {
                                "type": "string",
                                "description": "Openai Embeddings Response 200 Data Embedding 2"
                              }
                            ]
                          }
                        }
                      }
                    },
                    "model": {
                      "type": "string",
                      "description": "Openai Embeddings Response 200 Model"
                    },
                    "usage": {
                      "type": "object",
                      "required": [
                        "prompt_tokens",
                        "total_tokens"
                      ],
                      "properties": {
                        "prompt_tokens": {
                          "type": "integer"
                        },
                        "total_tokens": {
                          "type": "integer"
                        }
                      }
                    },
                    "created": {
                      "type": "integer",
                      "description": "Openai Embeddings Response 200 Created"
                    }
                  }
                },
                "examples": {
                  "float_example": {
                    "summary": "Float embeddings",
                    "value": {
                      "object": "list",
                      "data": [
                        {
                          "object": "embedding",
                          "index": 0,
                          "embedding": [
                            0.0023064255,
                            -0.009327292,
                            0.015271,
                            0.001234
                          ]
                        }
                      ],
                      "model": "text-embedding-3-small",
                      "usage": {
                        "prompt_tokens": 9,
                        "total_tokens": 9
                      },
                      "created": 1714500000
                    }
                  },
                  "base64_example": {
                    "summary": "Base64 embeddings",
                    "value": {
                      "object": "list",
                      "data": [
                        {
                          "object": "embedding",
                          "index": 0,
                          "embedding": "AAABQWJjMTIz..."
                        }
                      ],
                      "model": "text-embedding-3-large",
                      "usage": {
                        "prompt_tokens": 18,
                        "total_tokens": 18
                      },
                      "created": 1714500000
                    }
                  }
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Openai Embeddings Response 400 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Openai Embeddings Response 400 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Openai Embeddings Response 400 Trace Id"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_not_implemented",
                          "message": "The API is not implemented."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_not_implemented",
                              "description": "Openai Embeddings Response 400 Error Code 2"
                            },
                            "message": {
                              "type": "string",
                              "example": "The API is not implemented.",
                              "description": "Openai Embeddings Response 400 Error Message 2"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Openai Embeddings Response 400 Trace Id 2"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Openai Embeddings Response 400"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Openai Embeddings Response 401 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Openai Embeddings Response 401 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Openai Embeddings Response 401 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Openai Embeddings Response 401"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Openai Embeddings Response 429 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Openai Embeddings Response 429 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Openai Embeddings Response 429 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Openai Embeddings Response 429"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Openai Embeddings Response 500 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Openai Embeddings Response 500 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Openai Embeddings Response 500 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Openai Embeddings Response 500"
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Openai Embeddings Param Accept"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "input"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "text-embedding-3-small",
                      "text-embedding-3-large",
                      "text-embedding-ada-002"
                    ],
                    "description": "Openai Embeddings Model"
                  },
                  "input": {
                    "description": "Openai Embeddings Input",
                    "oneOf": [
                      {
                        "type": "string",
                        "minLength": 1
                      },
                      {
                        "type": "array",
                        "minItems": 1,
                        "maxItems": 2048,
                        "items": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      {
                        "type": "array",
                        "minItems": 1,
                        "items": {
                          "type": "integer",
                          "minimum": 0
                        }
                      },
                      {
                        "type": "array",
                        "minItems": 1,
                        "maxItems": 2048,
                        "items": {
                          "type": "array",
                          "minItems": 1,
                          "items": {
                            "type": "integer",
                            "minimum": 0
                          }
                        }
                      }
                    ]
                  },
                  "encoding_format": {
                    "type": "string",
                    "description": "Openai Embeddings Encoding Format",
                    "enum": [
                      "float",
                      "base64"
                    ],
                    "default": "float"
                  },
                  "dimensions": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Openai Embeddings Dimensions"
                  }
                }
              },
              "example": {
                "model": "text-embedding-3-small",
                "input": "Hello!"
              }
            }
          }
        },
        "operationId": "OpenaicreateOpenaiEmbeddings"
      }
    },
    "/openai/images/generations": {
      "post": {
        "summary": "Openai Images Generations",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "required": [
                        "created",
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "Openai Images Generations Response 200 Data Url"
                              },
                              "b64_json": {
                                "type": "string",
                                "description": "Openai Images Generations Response 200 Data B64 Json"
                              },
                              "revised_prompt": {
                                "type": "string",
                                "description": "Openai Images Generations Response 200 Data Revised Prompt"
                              }
                            },
                            "description": "Openai Images Generations Response 200 Data"
                          }
                        },
                        "created": {
                          "type": "number"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "task_id"
                      ],
                      "properties": {
                        "task_id": {
                          "type": "string",
                          "description": "Openai Images Generations Response 200 Task Id"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "data": [],
                  "created": 0
                }
              }
            },
            "description": "Openai Images Generations Response 200"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Openai Images Generations Response 400 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Openai Images Generations Response 400 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Openai Images Generations Response 400 Trace Id"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_not_implemented",
                          "message": "The API is not implemented."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_not_implemented",
                              "description": "Openai Images Generations Response 400 Error Code 2"
                            },
                            "message": {
                              "type": "string",
                              "example": "The API is not implemented.",
                              "description": "Openai Images Generations Response 400 Error Message 2"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Openai Images Generations Response 400 Trace Id 2"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Openai Images Generations Response 400"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Openai Images Generations Response 401 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Openai Images Generations Response 401 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Openai Images Generations Response 401 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Openai Images Generations Response 401"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "forbidden",
                          "message": "Sorry! Our Al moderators feel your prompt might be against our community standards."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "forbidden",
                              "description": "Openai Images Generations Response 403 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "Sorry! Our Al moderators feel your prompt might be against our community standards.",
                              "description": "Openai Images Generations Response 403 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Openai Images Generations Response 403 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Openai Images Generations Response 403"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Openai Images Generations Response 429 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Openai Images Generations Response 429 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Openai Images Generations Response 429 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Openai Images Generations Response 429"
          },
          "500": {
            "content": {
[...]
