{
  "openapi": "3.0.0",
  "info": {
    "title": "Qwen Image",
    "version": "1.0.0",
    "description": "API reference for Qwen Image on Ace Data Cloud."
  },
  "servers": [
    {
      "url": "https://api.acedata.cloud",
      "description": "Ace Data Cloud API"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token from https://platform.acedata.cloud"
      }
    },
    "schemas": {
      "QwenImageTaskRequestPayload": {
        "type": "object",
        "additionalProperties": true,
        "description": "Openapi.8Fa8951024Bf4E2283Eca27A016C10C5.Qwenimagetaskrequestpayload.764625Fff113"
      },
      "QwenImageTaskResultPayload": {
        "type": "object",
        "additionalProperties": true,
        "description": "Openapi.8Fa8951024Bf4E2283Eca27A016C10C5.Qwenimagetaskresultpayload.70A411D04B55"
      },
      "QwenImageTaskRecord": {
        "type": "object",
        "required": [
          "id",
          "type",
          "created_at",
          "trace_id",
          "request"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Openapi.8Fa8951024Bf4E2283Eca27A016C10C5.Id.8016110F9526"
          },
          "type": {
            "type": "string",
            "description": "Openapi.8Fa8951024Bf4E2283Eca27A016C10C5.Type.008087B83F72"
          },
          "trace_id": {
            "type": "string",
            "description": "Openapi.8Fa8951024Bf4E2283Eca27A016C10C5.Trace Id.4B4Dad49D768"
          },
          "request": {
            "$ref": "#/components/schemas/QwenImageTaskRequestPayload"
          },
          "response": {
            "$ref": "#/components/schemas/QwenImageTaskResultPayload"
          },
          "created_at": {
            "type": "number",
            "format": "double",
            "description": "Openapi.8Fa8951024Bf4E2283Eca27A016C10C5.Created At.C2E8Ea809E3B"
          },
          "started_at": {
            "type": "number",
            "format": "double",
            "description": "Openapi.8Fa8951024Bf4E2283Eca27A016C10C5.Started At.42927Ff0Dbe9"
          },
          "finished_at": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "description": "Openapi.8Fa8951024Bf4E2283Eca27A016C10C5.Finished At.4594Bdfbb041"
          },
          "elapsed": {
            "type": "number",
            "format": "double",
            "minimum": 0,
            "nullable": true,
            "description": "Openapi.8Fa8951024Bf4E2283Eca27A016C10C5.Elapsed.51727445F04D"
          },
          "user_id": {
            "type": "string",
            "description": "Openapi.8Fa8951024Bf4E2283Eca27A016C10C5.User Id.5223A9107A81"
          },
          "actor_user_id": {
            "type": "string",
            "nullable": true,
            "description": "Openapi.8Fa8951024Bf4E2283Eca27A016C10C5.Actor User Id.15237598638C"
          },
          "api_id": {
            "type": "string",
            "description": "Openapi.8Fa8951024Bf4E2283Eca27A016C10C5.Api Id.E169A0A17C6C"
          },
          "application_id": {
            "type": "string",
            "description": "Openapi.8Fa8951024Bf4E2283Eca27A016C10C5.Application Id.D3353Bc3734A"
          },
          "credential_id": {
            "type": "string",
            "nullable": true,
            "description": "Openapi.8Fa8951024Bf4E2283Eca27A016C10C5.Credential Id.7Dc48F730126"
          },
          "authorization_id": {
            "type": "string",
            "nullable": true,
            "description": "Openapi.8Fa8951024Bf4E2283Eca27A016C10C5.Authorization Id.Ec46Fa601116"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/qwen-image/images": {
      "post": {
        "summary": "Qwen Image Images",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Qwen Image Images Response 200 Success"
                    },
                    "task_id": {
                      "type": "string",
                      "description": "Qwen Image Images Response 200 Task Id"
                    },
                    "trace_id": {
                      "type": "string",
                      "description": "Qwen Image Images Response 200 Trace Id"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "image_url"
                        ],
                        "properties": {
                          "image_url": {
                            "type": "string",
                            "format": "uri",
                            "description": "Qwen Image Images Response Image Url"
                          }
                        }
                      },
                      "description": "Qwen Image Images Response Data"
                    },
                    "usage": {
                      "type": "object",
                      "additionalProperties": true,
                      "description": "Qwen Image Images Response Usage"
                    },
                    "cost": {
                      "type": "object",
                      "description": "Qwen Image Images Response Cost",
                      "properties": {
                        "amount": {
                          "type": "number",
                          "description": "Qwen Image Images Response Cost Amount"
                        },
                        "currency": {
                          "type": "string",
                          "description": "Qwen Image Images Response Cost Currency"
                        },
                        "list_amount": {
                          "type": "number",
                          "description": "Qwen Image Images Response Cost List Amount"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "task_id": "565a7f55-72c6-43ed-b274-268ff046e5b4",
                  "trace_id": "bb923cec-1550-43b4-8df2-288ac0977b4b",
                  "data": [
                    {
                      "image_url": "https://cdn.acedata.cloud/assets/examples/qwen-image/40d5c76b-2f84-4b04-9ea0-b706417ae622-bac6a9e9de22.png"
                    }
                  ],
                  "usage": {
                    "input_image_count": 0,
                    "input_image_type": "qima_input_1k",
                    "output_height": 1024,
                    "output_image_count": 1,
                    "output_image_type": "qima_output_1k",
                    "output_width": 1024
                  },
                  "cost": {
                    "amount": 0.322,
                    "currency": "credit",
                    "list_amount": 0.35
                  }
                }
              }
            },
            "description": "Qwen Image Images Response 200"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Qwen Image Images Response 400 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Qwen Image Images Response 400 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Qwen Image Images Response 400 Trace Id"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_not_implemented",
                          "message": "The API is not implemented."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_not_implemented",
                              "description": "Qwen Image Images Response 400 Error Code 2"
                            },
                            "message": {
                              "type": "string",
                              "example": "The API is not implemented.",
                              "description": "Qwen Image Images Response 400 Error Message 2"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Qwen Image Images Response 400 Trace Id 2"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "disabled",
                          "message": "Your application has been disabled by Ace Data Cloud due to abnormal usage behavior, please contact our support to get more information."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "disabled",
                              "description": "Qwen Image Images Response 400 Error Code 3"
                            },
                            "message": {
                              "type": "string",
                              "example": "Your application has been disabled by Ace Data Cloud due to abnormal usage behavior, please contact our support to get more information.",
                              "description": "Qwen Image Images Response 400 Error Message 3"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Qwen Image Images Response 400 Trace Id 3"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "bad_request",
                          "message": "model is invalid."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "bad_request",
                              "description": "Qwen Image Images Response 400 Error Code 4"
                            },
                            "message": {
                              "type": "string",
                              "example": "model is invalid.",
                              "description": "Qwen Image Images Response 400 Error Message 4"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Qwen Image Images Response 400 Trace Id 4"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "no_token",
                          "message": "No token specified for the request."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "no_token",
                              "description": "Qwen Image Images Response 400 Error Code 5"
                            },
                            "message": {
                              "type": "string",
                              "example": "No token specified for the request.",
                              "description": "Qwen Image Images Response 400 Error Message 5"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Qwen Image Images Response 400 Trace Id 5"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Qwen Image Images Response 400"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Qwen Image Images Response 401 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Qwen Image Images Response 401 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Qwen Image Images Response 401 Trace Id"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_expired",
                          "message": "token expired."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_expired",
                              "description": "Qwen Image Images Response 401 Error Code 2"
                            },
                            "message": {
                              "type": "string",
                              "example": "token expired.",
                              "description": "Qwen Image Images Response 401 Error Message 2"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Qwen Image Images Response 401 Trace Id 2"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "token and api does not match."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Qwen Image Images Response 401 Error Code 3"
                            },
                            "message": {
                              "type": "string",
                              "example": "token and api does not match.",
                              "description": "Qwen Image Images Response 401 Error Message 3"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Qwen Image Images Response 401 Trace Id 3"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Qwen Image Images Response 401"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "used_up",
                          "message": "Your balance is not sufficient for current request, please buy more in Ace Data Cloud."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "used_up",
                              "description": "Qwen Image Images Response 403 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "Your balance is not sufficient for current request, please buy more in Ace Data Cloud.",
                              "description": "Qwen Image Images Response 403 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Qwen Image Images Response 403 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Qwen Image Images Response 403"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "no_api",
                          "message": "API does not exist, please make sure url is correct."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "no_api",
                              "description": "Qwen Image Images Response 404 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "API does not exist, please make sure url is correct.",
                              "description": "Qwen Image Images Response 404 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Qwen Image Images Response 404 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Qwen Image Images Response 404"
          },
          "413": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "request_too_large",
                          "message": "Request body is too large."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "request_too_large",
                              "description": "Qwen Image Images Response 413 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "Request body is too large.",
                              "description": "Qwen Image Images Response 413 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Qwen Image Images Response 413 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Qwen Image Images Response 413"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Qwen Image Images Response 429 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Qwen Image Images Response 429 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Qwen Image Images Response 429 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Qwen Image Images Response 429"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Qwen Image Images Response 500 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Qwen Image Images Response 500 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Qwen Image Images Response 500 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Qwen Image Images Response 500"
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Qwen Image Images Param Accept"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "prompt"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "qwen-image-3.0",
                      "qwen-image-3.0-pro"
                    ],
                    "default": "qwen-image-3.0",
                    "description": "Qwen Image Images Model"
                  },
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 18000,
                    "description": "Qwen Image Images Prompt"
                  },
                  "image_urls": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 3,
                    "items": {
                      "type": "string",
                      "format": "uri"
                    },
                    "description": "Qwen Image Images Image Urls"
                  },
                  "n": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 6,
                    "default": 1,
                    "description": "Qwen Image Images N"
                  },
                  "size": {
                    "type": "string",
                    "pattern": "^[0-9]+\\*[0-9]+$",
                    "example": "1024*1024",
                    "description": "Qwen Image Images Size"
                  },
                  "prompt_extend": {
                    "type": "boolean",
                    "default": true,
                    "description": "Qwen Image Images Prompt Extend"
                  },
                  "prompt_extend_mode": {
                    "type": "string",
                    "enum": [
                      "direct",
                      "agent"
                    ],
                    "default": "direct",
                    "description": "Qwen Image Images Prompt Extend Mode"
                  },
                  "enable_thinking": {
                    "type": "boolean",
                    "default": true,
                    "description": "Qwen Image Images Enable Thinking"
                  },
                  "negative_prompt": {
                    "type": "string",
                    "description": "Qwen Image Images Negative Prompt"
                  },
                  "seed": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 2147483647,
                    "description": "Qwen Image Images Seed"
                  },
                  "watermark": {
                    "type": "boolean",
                    "default": false,
                    "description": "Qwen Image Images Watermark"
                  },
                  "callback_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Qwen Image Images Callback Url"
                  },
                  "async": {
                    "type": "boolean",
                    "default": false,
                    "description": "Qwen Image Images Async"
                  }
                }
              },
              "example": {
                "model": "qwen-image-3.0",
                "prompt": "A simple red circle centered on a clean white background.",
                "size": "1024*1024",
                "n": 1,
                "watermark": false
              }
            }
          },
          "required": true
        },
        "operationId": "qwenImageImagesCreate"
      }
    },
    "/qwen-image/tasks": {
      "post": {
        "summary": "Qwen Image Tasks",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/QwenImageTaskRecord"
                    },
                    {
                      "type": "object",
                      "required": [
                        "items",
                        "count"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/QwenImageTaskRecord"
                          },
                          "description": "Openapi.8Fa8951024Bf4E2283Eca27A016C10C5.Items.Df736B30A51D"
                        },
                        "count": {
                          "type": "integer",
                          "minimum": 0,
                          "description": "Openapi.8Fa8951024Bf4E2283Eca27A016C10C5.Count.C1Eec8484179"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "additionalProperties": false,
                      "description": "Openapi.8Fa8951024Bf4E2283Eca27A016C10C5.2.8Da4A4D240C0"
                    }
                  ]
                },
                "example": {
                  "items": [],
                  "count": 0
                }
              }
            },
            "description": "Qwen Image Tasks Response 200"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Qwen Image Tasks Response 400 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Qwen Image Tasks Response 400 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Qwen Image Tasks Response 400 Trace Id"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_not_implemented",
                          "message": "The API is not implemented."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_not_implemented",
                              "description": "Qwen Image Tasks Response 400 Error Code 2"
                            },
                            "message": {
                              "type": "string",
                              "example": "The API is not implemented.",
                              "description": "Qwen Image Tasks Response 400 Error Message 2"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Qwen Image Tasks Response 400 Trace Id 2"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Qwen Image Tasks Response 400"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Qwen Image Tasks Response 401 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Qwen Image Tasks Response 401 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Qwen Image Tasks Response 401 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Qwen Image Tasks Response 401"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Qwen Image Tasks Response 429 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Qwen Image Tasks Response 429 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Qwen Image Tasks Response 429 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Qwen Image Tasks Response 429"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Qwen Image Tasks Response 500 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Qwen Image Tasks Response 500 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Qwen Image Tasks Response 500 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Qwen Image Tasks Response 500"
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Qwen Image Tasks Param Accept"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Qwen Image Tasks Id"
                  },
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Qwen Image Tasks Ids"
                  },
                  "action": {
                    "enum": [
                      "retrieve",
                      "retrieve_batch"
                    ],
                    "type": "string",
                    "default": "retrieve",
                    "description": "Qwen Image Tasks Action"
                  }
                },
                "example": {
                  "action": "retrieve",
                  "id": "task-id"
                }
              }
            }
          },
          "required": true
        },
        "operationId": "qwenImageTasksRetrieve"
      }
    }
  }
}
