{
  "openapi": "3.0.0",
  "info": {
    "title": "Fish voice generation",
    "version": "1.0.0",
    "description": "API reference for Fish voice generation on Ace Data Cloud."
  },
  "servers": [
    {
      "url": "https://api.acedata.cloud",
      "description": "Ace Data Cloud API"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token from https://platform.acedata.cloud"
      }
    },
    "schemas": {
      "FishTaskRequestPayload": {
        "type": "object",
        "additionalProperties": true,
        "description": "Openapi.Fc541Faca94147Fdb6F748D6Cb9Da523.Fishtaskrequestpayload.4B5Bcf09840B"
      },
      "FishTaskResultPayload": {
        "type": "object",
        "additionalProperties": true,
        "description": "Openapi.Fc541Faca94147Fdb6F748D6Cb9Da523.Fishtaskresultpayload.6C2D9E738F70"
      },
      "FishTaskRecord": {
        "type": "object",
        "required": [
          "id",
          "type",
          "created_at",
          "trace_id",
          "request"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Openapi.Fc541Faca94147Fdb6F748D6Cb9Da523.Id.E691Aa8Dd763"
          },
          "type": {
            "type": "string",
            "description": "Openapi.Fc541Faca94147Fdb6F748D6Cb9Da523.Type.83054C8E80Ed"
          },
          "trace_id": {
            "type": "string",
            "description": "Openapi.Fc541Faca94147Fdb6F748D6Cb9Da523.Trace Id.35Cc55E298A1"
          },
          "request": {
            "$ref": "#/components/schemas/FishTaskRequestPayload"
          },
          "response": {
            "$ref": "#/components/schemas/FishTaskResultPayload"
          },
          "created_at": {
            "type": "number",
            "format": "double",
            "description": "Openapi.Fc541Faca94147Fdb6F748D6Cb9Da523.Created At.48Bbcd12F997"
          },
          "started_at": {
            "type": "number",
            "format": "double",
            "description": "Openapi.Fc541Faca94147Fdb6F748D6Cb9Da523.Started At.08Dd0E23A57D"
          },
          "finished_at": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "description": "Openapi.Fc541Faca94147Fdb6F748D6Cb9Da523.Finished At.759A62201C73"
          },
          "elapsed": {
            "type": "number",
            "format": "double",
            "minimum": 0,
            "nullable": true,
            "description": "Openapi.Fc541Faca94147Fdb6F748D6Cb9Da523.Elapsed.5801Adde8F12"
          },
          "user_id": {
            "type": "string",
            "description": "Openapi.Fc541Faca94147Fdb6F748D6Cb9Da523.User Id.19B7B8E00Adc"
          },
          "actor_user_id": {
            "type": "string",
            "nullable": true,
            "description": "Openapi.Fc541Faca94147Fdb6F748D6Cb9Da523.Actor User Id.1D4493E0D897"
          },
          "api_id": {
            "type": "string",
            "description": "Openapi.Fc541Faca94147Fdb6F748D6Cb9Da523.Api Id.5Db9C6996560"
          },
          "application_id": {
            "type": "string",
            "description": "Openapi.Fc541Faca94147Fdb6F748D6Cb9Da523.Application Id.1498B9Fda1Cd"
          },
          "credential_id": {
            "type": "string",
            "nullable": true,
            "description": "Openapi.Fc541Faca94147Fdb6F748D6Cb9Da523.Credential Id.B31F0662759E"
          },
          "authorization_id": {
            "type": "string",
            "nullable": true,
            "description": "Openapi.Fc541Faca94147Fdb6F748D6Cb9Da523.Authorization Id.9E87E34D9Ef8"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/fish/tts": {
      "post": {
        "summary": "Fish Tts",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "audio_url": "https://cdn.acedata.cloud/assets/examples/fish/5ade0339-5f11-487e-aacc-06a908271706-8e3fcb0e5547.mp3"
                  },
                  "properties": {
                    "audio_url": {
                      "type": "string",
                      "description": "Fish Tts Response 200 Audio Url"
                    },
                    "cost": {
                      "type": "object",
                      "description": "Fish Tts Response 200 Cost",
                      "properties": {
                        "amount": {
                          "type": "number",
                          "description": "Fish Tts Response 200 Cost Amount"
                        },
                        "currency": {
                          "type": "string",
                          "description": "Fish Tts Response 200 Cost Currency"
                        },
                        "list_amount": {
                          "type": "number",
                          "description": "Fish Tts Response 200 Cost List Amount"
                        }
                      },
                      "required": [
                        "amount",
                        "currency"
                      ]
                    }
                  }
                }
              }
            },
            "description": "Fish Tts Response 200"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Fish Tts Response 400 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Fish Tts Response 400 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Tts Response 400 Trace Id"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_not_implemented",
                          "message": "The API is not implemented."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_not_implemented",
                              "description": "Fish Tts Response 400 Error Code 2"
                            },
                            "message": {
                              "type": "string",
                              "example": "The API is not implemented.",
                              "description": "Fish Tts Response 400 Error Message 2"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Tts Response 400 Trace Id 2"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "disabled",
                          "message": "Your application has been disabled by Ace Data Cloud due to abnormal usage behavior, please contact our support to get more information."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "disabled",
                              "description": "Fish Tts Response 400 Error Code 3"
                            },
                            "message": {
                              "type": "string",
                              "example": "Your application has been disabled by Ace Data Cloud due to abnormal usage behavior, please contact our support to get more information.",
                              "description": "Fish Tts Response 400 Error Message 3"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Tts Response 400 Trace Id 3"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "bad_request",
                          "message": "model is invalid."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "bad_request",
                              "description": "Fish Tts Response 400 Error Code 4"
                            },
                            "message": {
                              "type": "string",
                              "example": "model is invalid.",
                              "description": "Fish Tts Response 400 Error Message 4"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Tts Response 400 Trace Id 4"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "no_token",
                          "message": "No token specified for the request."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "no_token",
                              "description": "Fish Tts Response 400 Error Code 5"
                            },
                            "message": {
                              "type": "string",
                              "example": "No token specified for the request.",
                              "description": "Fish Tts Response 400 Error Message 5"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Tts Response 400 Trace Id 5"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Fish Tts Response 400"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Fish Tts Response 401 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Fish Tts Response 401 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Tts Response 401 Trace Id"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_expired",
                          "message": "token expired."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_expired",
                              "description": "Fish Tts Response 401 Error Code 2"
                            },
                            "message": {
                              "type": "string",
                              "example": "token expired.",
                              "description": "Fish Tts Response 401 Error Message 2"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Tts Response 401 Trace Id 2"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "token and api does not match."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Fish Tts Response 401 Error Code 3"
                            },
                            "message": {
                              "type": "string",
                              "example": "token and api does not match.",
                              "description": "Fish Tts Response 401 Error Message 3"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Tts Response 401 Trace Id 3"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Fish Tts Response 401"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "used_up",
                          "message": "Your balance is not sufficient for current request, please buy more in Ace Data Cloud."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "used_up",
                              "description": "Fish Tts Response 403 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "Your balance is not sufficient for current request, please buy more in Ace Data Cloud.",
                              "description": "Fish Tts Response 403 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Tts Response 403 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Fish Tts Response 403"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "no_api",
                          "message": "API does not exist, please make sure url is correct."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "no_api",
                              "description": "Fish Tts Response 404 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "API does not exist, please make sure url is correct.",
                              "description": "Fish Tts Response 404 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Tts Response 404 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Fish Tts Response 404"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Fish Tts Response 429 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Fish Tts Response 429 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Tts Response 429 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Fish Tts Response 429"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Fish Tts Response 500 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Fish Tts Response 500 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Tts Response 500 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Fish Tts Response 500"
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Fish Tts Param Accept"
          },
          {
            "in": "header",
            "name": "model",
            "schema": {
              "enum": [
                "s1",
                "s2-pro",
                "s2.1-pro"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Fish Tts Param Model"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "text": {
                    "type": "string",
                    "example": "Hello, this is a Fish-Audio-compatible test.",
                    "description": "Fish Tts Text"
                  },
                  "reference_id": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "minItems": 1,
                        "items": {
                          "type": "string"
                        }
                      }
                    ],
                    "example": "d7900c21663f485ab63ebdb7e5905036",
                    "description": "Fish Tts Reference Id"
                  },
                  "format": {
                    "enum": [
                      "mp3",
                      "wav",
                      "pcm"
                    ],
                    "type": "string",
                    "description": "Fish Tts Format"
                  },
                  "sample_rate": {
                    "type": "integer",
                    "description": "Fish Tts Sample Rate"
                  },
                  "mp3_bitrate": {
                    "enum": [
                      64,
                      128,
                      192
                    ],
                    "type": "integer",
                    "description": "Fish Tts Mp3 Bitrate"
                  },
                  "latency": {
                    "enum": [
                      "normal",
                      "balanced"
                    ],
                    "type": "string",
                    "description": "Fish Tts Latency"
                  },
                  "chunk_length": {
                    "type": "integer",
                    "description": "Fish Tts Chunk Length"
                  },
                  "min_chunk_length": {
                    "type": "integer",
                    "description": "Fish Tts Min Chunk Length"
                  },
                  "temperature": {
                    "type": "number",
                    "description": "Fish Tts Temperature"
                  },
                  "top_p": {
                    "type": "number",
                    "description": "Fish Tts Top P"
                  },
                  "repetition_penalty": {
                    "type": "number",
                    "description": "Fish Tts Repetition Penalty"
                  },
                  "max_new_tokens": {
                    "type": "integer",
                    "description": "Fish Tts Max New Tokens"
                  },
                  "normalize": {
                    "type": "boolean",
                    "description": "Fish Tts Normalize"
                  },
                  "prosody": {
                    "type": "object",
                    "description": "Fish Tts Prosody",
                    "additionalProperties": true
                  },
                  "references": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 1,
                    "description": "Fish Tts References",
                    "items": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "audio",
                        "text"
                      ],
                      "properties": {
                        "audio": {
                          "type": "string",
                          "format": "uri",
                          "maxLength": 2048,
                          "example": "https://cdn.acedata.cloud/reference-voice.mp3",
                          "description": "Fish Tts Reference Audio"
                        },
                        "text": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 10000,
                          "example": "春天的清晨，阳光穿过树叶。",
                          "description": "Fish Tts Reference Text"
                        }
                      }
                    }
                  },
                  "callback_url": {
                    "type": "string",
                    "description": "Fish Tts Callback Url"
                  },
                  "async": {
                    "type": "boolean",
                    "description": "Fish Tts Async"
                  }
                }
              }
            }
          },
          "required": true
        },
        "operationId": "createFishTts"
      }
    },
    "/fish/model": {
      "post": {
        "summary": "Fish Model Create",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "_id": "d7900c21663f485ab63ebdb7e5905036",
                    "type": "tts",
                    "title": "My Custom Voice",
                    "visibility": "private",
                    "languages": [
                      "en"
                    ],
                    "tags": [],
                    "samples_count": 0,
                    "liked_count": 0,
                    "shared_count": 0,
                    "task_count": 0,
                    "state": "trained",
                    "created_at": "2025-05-09T12:34:56.789Z",
                    "updated_at": "2025-05-09T12:34:56.789Z"
                  },
                  "properties": {
                    "_id": {
                      "type": "string",
                      "description": "Fish Model Response 200 Id"
                    },
                    "type": {
                      "type": "string",
                      "description": "Fish Model Response 200 Type"
                    },
                    "title": {
                      "type": "string",
                      "description": "Fish Model Response 200 Title"
                    },
                    "visibility": {
                      "type": "string",
                      "description": "Fish Model Response 200 Visibility"
                    },
                    "state": {
                      "type": "string",
                      "description": "Fish Model Response 200 State"
                    }
                  }
                }
              }
            },
            "description": "Fish Model Response 200 3"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Fish Model Response 400 Error Code 6"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Fish Model Response 400 Error Message 6"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Model Response 400 Trace Id 6"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_not_implemented",
                          "message": "The API is not implemented."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_not_implemented",
                              "description": "Fish Model Response 400 Error Code 7"
                            },
                            "message": {
                              "type": "string",
                              "example": "The API is not implemented.",
                              "description": "Fish Model Response 400 Error Message 7"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Model Response 400 Trace Id 7"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "disabled",
                          "message": "Your application has been disabled by Ace Data Cloud due to abnormal usage behavior, please contact our support to get more information."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "disabled",
                              "description": "Fish Model Response 400 Error Code 8"
                            },
                            "message": {
                              "type": "string",
                              "example": "Your application has been disabled by Ace Data Cloud due to abnormal usage behavior, please contact our support to get more information.",
                              "description": "Fish Model Response 400 Error Message 8"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Model Response 400 Trace Id 8"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "bad_request",
                          "message": "model is invalid."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "bad_request",
                              "description": "Fish Model Response 400 Error Code 9"
                            },
                            "message": {
                              "type": "string",
                              "example": "model is invalid.",
                              "description": "Fish Model Response 400 Error Message 9"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Model Response 400 Trace Id 9"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "no_token",
                          "message": "No token specified for the request."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "no_token",
                              "description": "Fish Model Response 400 Error Code 10"
                            },
                            "message": {
                              "type": "string",
                              "example": "No token specified for the request.",
                              "description": "Fish Model Response 400 Error Message 10"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Model Response 400 Trace Id 10"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Fish Model Response 400 2"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Fish Model Response 401 Error Code 4"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Fish Model Response 401 Error Message 4"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Model Response 401 Trace Id 4"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_expired",
                          "message": "token expired."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_expired",
                              "description": "Fish Model Response 401 Error Code 5"
                            },
                            "message": {
                              "type": "string",
                              "example": "token expired.",
                              "description": "Fish Model Response 401 Error Message 5"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Model Response 401 Trace Id 5"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "token and api does not match."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Fish Model Response 401 Error Code 6"
                            },
                            "message": {
                              "type": "string",
                              "example": "token and api does not match.",
                              "description": "Fish Model Response 401 Error Message 6"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Model Response 401 Trace Id 6"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Fish Model Response 401 2"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "used_up",
                          "message": "Your balance is not sufficient for current request, please buy more in Ace Data Cloud."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "used_up",
                              "description": "Fish Model Response 403 Error Code 2"
                            },
                            "message": {
                              "type": "string",
                              "example": "Your balance is not sufficient for current request, please buy more in Ace Data Cloud.",
                              "description": "Fish Model Response 403 Error Message 2"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Model Response 403 Trace Id 2"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Fish Model Response 403 2"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "no_api",
                          "message": "API does not exist, please make sure url is correct."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "no_api",
                              "description": "Fish Model Response 404 Error Code 2"
                            },
                            "message": {
                              "type": "string",
                              "example": "API does not exist, please make sure url is correct.",
                              "description": "Fish Model Response 404 Error Message 2"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Model Response 404 Trace Id 2"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Fish Model Response 404 2"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Fish Model Response 429 Error Code 2"
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Fish Model Response 429 Error Message 2"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Model Response 429 Trace Id 2"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Fish Model Response 429 2"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Fish Model Response 500 Error Code 2"
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Fish Model Response 500 Error Message 2"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Model Response 500 Trace Id 2"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Fish Model Response 500 2"
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Fish Model Param Accept 2"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "title",
                  "voices"
                ],
                "properties": {
                  "title": {
                    "type": "string",
                    "example": "My Custom Voice",
                    "description": "Fish Model Title"
                  },
                  "voices": {
                    "type": "string",
                    "example": "https://cdn.acedata.cloud/assets/examples/fish/5ade0339-5f11-487e-aacc-06a908271706-8e3fcb0e5547.mp3",
                    "description": "Fish Model Voices"
                  },
                  "description": {
                    "type": "string",
                    "description": "Fish Model Description"
                  },
                  "cover_image": {
                    "type": "string",
                    "description": "Fish Model Cover Image"
                  },
                  "tags": {
                    "type": "array",
                    "description": "Fish Model Tags",
                    "items": {
                      "type": "string"
                    }
                  },
                  "texts": {
                    "type": "array",
                    "description": "Fish Model Texts",
                    "items": {
                      "type": "string"
                    }
                  },
                  "enhance_audio_quality": {
                    "type": "boolean",
                    "description": "Fish Model Enhance Audio Quality"
                  },
                  "generate_sample": {
                    "type": "boolean",
                    "description": "Fish Model Generate Sample"
                  }
                }
              }
            }
          },
          "required": true
        },
        "operationId": "FishcreateFishModel"
      },
      "get": {
        "summary": "Fish Model Query",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "total": 424123,
                    "items": [
                      {
                        "_id": "d7900c21663f485ab63ebdb7e5905036",
                        "title": "Marcus Aurelius",
                        "type": "tts",
                        "languages": [
                          "en"
                        ],
                        "tags": [
                          "historical"
                        ],
                        "visibility": "public",
                        "state": "trained"
                      }
                    ]
                  },
                  "properties": {
                    "total": {
                      "type": "integer",
                      "description": "Fish Model Response 200 Total"
                    },
                    "items": {
                      "type": "array",
                      "description": "Fish Model Response 200",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                }
              }
            },
            "description": "Fish Model Response 200 2"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Fish Model Response 400 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Fish Model Response 400 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Model Response 400 Trace Id"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_not_implemented",
                          "message": "The API is not implemented."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_not_implemented",
                              "description": "Fish Model Response 400 Error Code 2"
                            },
                            "message": {
                              "type": "string",
                              "example": "The API is not implemented.",
                              "description": "Fish Model Response 400 Error Message 2"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Model Response 400 Trace Id 2"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "disabled",
                          "message": "Your application has been disabled by Ace Data Cloud due to abnormal usage behavior, please contact our support to get more information."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "disabled",
                              "description": "Fish Model Response 400 Error Code 3"
                            },
                            "message": {
                              "type": "string",
                              "example": "Your application has been disabled by Ace Data Cloud due to abnormal usage behavior, please contact our support to get more information.",
                              "description": "Fish Model Response 400 Error Message 3"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Model Response 400 Trace Id 3"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "bad_request",
                          "message": "model is invalid."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "bad_request",
                              "description": "Fish Model Response 400 Error Code 4"
                            },
                            "message": {
                              "type": "string",
                              "example": "model is invalid.",
                              "description": "Fish Model Response 400 Error Message 4"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Model Response 400 Trace Id 4"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "no_token",
                          "message": "No token specified for the request."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "no_token",
                              "description": "Fish Model Response 400 Error Code 5"
                            },
                            "message": {
                              "type": "string",
                              "example": "No token specified for the request.",
                              "description": "Fish Model Response 400 Error Message 5"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Model Response 400 Trace Id 5"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Fish Model Response 400"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Fish Model Response 401 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Fish Model Response 401 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Model Response 401 Trace Id"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_expired",
                          "message": "token expired."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_expired",
                              "description": "Fish Model Response 401 Error Code 2"
                            },
                            "message": {
                              "type": "string",
                              "example": "token expired.",
                              "description": "Fish Model Response 401 Error Message 2"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Model Response 401 Trace Id 2"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "token and api does not match."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Fish Model Response 401 Error Code 3"
                            },
                            "message": {
                              "type": "string",
                              "example": "token and api does not match.",
                              "description": "Fish Model Response 401 Error Message 3"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Model Response 401 Trace Id 3"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Fish Model Response 401"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "used_up",
                          "message": "Your balance is not sufficient for current request, please buy more in Ace Data Cloud."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "used_up",
                              "description": "Fish Model Response 403 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "Your balance is not sufficient for current request, please buy more in Ace Data Cloud.",
                              "description": "Fish Model Response 403 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Model Response 403 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Fish Model Response 403"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "no_api",
                          "message": "API does not exist, please make sure url is correct."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "no_api",
                              "description": "Fish Model Response 404 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "API does not exist, please make sure url is correct.",
                              "description": "Fish Model Response 404 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Model Response 404 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Fish Model Response 404"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Fish Model Response 429 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Fish Model Response 429 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Model Response 429 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Fish Model Response 429"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Fish Model Response 500 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Fish Model Response 500 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Model Response 500 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Fish Model Response 500"
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "page_size",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "required": false,
            "description": "Fish Model Param Page Size"
          },
          {
            "in": "query",
            "name": "page_number",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "required": false,
            "description": "Fish Model Param Page Number"
          },
          {
            "in": "query",
            "name": "title",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Fish Model Param Title"
          },
          {
            "in": "query",
            "name": "tag",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Fish Model Param Tag"
          },
          {
            "in": "query",
            "name": "self",
            "schema": {
              "type": "boolean"
            },
            "required": false,
            "description": "Fish Model Param Self"
          },
          {
            "in": "query",
            "name": "author_id",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Fish Model Param Author Id"
          },
          {
            "in": "query",
            "name": "language",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Fish Model Param Language"
          },
          {
            "in": "query",
            "name": "title_language",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Fish Model Param Title Language"
          },
          {
            "in": "query",
            "name": "sort_by",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Fish Model Param Sort By"
          },
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Fish Model Param Accept"
          }
        ],
        "operationId": "FishgetFishModel"
      }
    },
    "/fish/model/{id}": {
      "get": {
        "summary": "Fish Model Get",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "_id": "d7900c21663f485ab63ebdb7e5905036",
                    "type": "tts",
                    "title": "Marcus Aurelius",
                    "description": "Fish Model Id Response 200 Example",
                    "cover_image": "https://cdn.acedata.cloud/4hfydw.jpg",
                    "train_mode": "fast",
                    "state": "trained",
                    "tags": [
                      "historical"
                    ],
                    "samples": [
                      {
                        "title": "sample 1",
                        "text": "Hello, this is a sample.",
                        "task_id": "ad1c50e6f1a4474d96a17a91da93dac2",
                        "audio": "https://cdn.acedata.cloud/assets/examples/fish/5ade0339-5f11-487e-aacc-06a908271706-8e3fcb0e5547.mp3"
                      }
                    ],
                    "created_at": "2024-09-01T07:53:39.476000Z",
                    "updated_at": "2024-09-01T07:53:39.476000Z",
                    "languages": [
                      "en"
                    ],
                    "visibility": "public",
                    "lock_visibility": false,
                    "like_count": 12,
                    "mark_count": 3,
                    "shared_count": 0,
                    "task_count": 5,
                    "unliked": false,
                    "liked": false,
                    "marked": false,
                    "author": {
                      "_id": "8e0b7add9a474db4b46abe51ef64b3c0",
                      "nickname": "AceDataCloud"
                    }
                  },
                  "properties": {
                    "_id": {
                      "type": "string",
                      "description": "Fish Model Id Response 200 Id"
                    },
                    "type": {
                      "type": "string",
                      "description": "Fish Model Id Response 200 Type"
                    },
                    "title": {
                      "type": "string",
                      "description": "Fish Model Id Response 200 Title"
                    },
                    "description": {
                      "type": "string",
                      "description": "Fish Model Id Response 200 Description"
                    },
                    "cover_image": {
                      "type": "string",
                      "description": "Fish Model Id Response 200 Cover Image"
                    },
                    "train_mode": {
                      "type": "string",
                      "description": "Fish Model Id Response 200 Train Mode"
                    },
                    "state": {
                      "type": "string",
                      "description": "Fish Model Id Response 200 State"
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Fish Model Id Response 200 Tags"
                    },
                    "samples": {
                      "type": "array",
                      "description": "Fish Model Id Response 200 Samples",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Fish Model Id Response 200 Created At"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Fish Model Id Response 200 Updated At"
                    },
                    "languages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Fish Model Id Response 200 Languages"
                    },
                    "visibility": {
                      "type": "string",
                      "description": "Fish Model Id Response 200 Visibility"
                    },
                    "author": {
                      "type": "object",
                      "description": "Fish Model Id Response 200 Author",
                      "additionalProperties": true
                    }
                  }
                }
              }
            },
            "description": "Fish Model Id Response 200"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Fish Model Id Response 400 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Fish Model Id Response 400 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Model Id Response 400 Trace Id"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_not_implemented",
                          "message": "The API is not implemented."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_not_implemented",
                              "description": "Fish Model Id Response 400 Error Code 2"
                            },
                            "message": {
                              "type": "string",
                              "example": "The API is not implemented.",
                              "description": "Fish Model Id Response 400 Error Message 2"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Model Id Response 400 Trace Id 2"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "disabled",
                          "message": "Your application has been disabled by Ace Data Cloud due to abnormal usage behavior, please contact our support to get more information."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "disabled",
                              "description": "Fish Model Id Response 400 Error Code 3"
                            },
                            "message": {
                              "type": "string",
                              "example": "Your application has been disabled by Ace Data Cloud due to abnormal usage behavior, please contact our support to get more information.",
                              "description": "Fish Model Id Response 400 Error Message 3"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Model Id Response 400 Trace Id 3"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "bad_request",
                          "message": "model is invalid."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "bad_request",
                              "description": "Fish Model Id Response 400 Error Code 4"
                            },
                            "message": {
                              "type": "string",
                              "example": "model is invalid.",
                              "description": "Fish Model Id Response 400 Error Message 4"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Model Id Response 400 Trace Id 4"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "no_token",
                          "message": "No token specified for the request."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "no_token",
                              "description": "Fish Model Id Response 400 Error Code 5"
                            },
                            "message": {
                              "type": "string",
                              "example": "No token specified for the request.",
                              "description": "Fish Model Id Response 400 Error Message 5"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Model Id Response 400 Trace Id 5"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Fish Model Id Response 400"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Fish Model Id Response 401 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Fish Model Id Response 401 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Model Id Response 401 Trace Id"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_expired",
                          "message": "token expired."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_expired",
                              "description": "Fish Model Id Response 401 Error Code 2"
                            },
                            "message": {
                              "type": "string",
                              "example": "token expired.",
                              "description": "Fish Model Id Response 401 Error Message 2"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Model Id Response 401 Trace Id 2"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "token and api does not match."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Fish Model Id Response 401 Error Code 3"
                            },
                            "message": {
                              "type": "string",
                              "example": "token and api does not match.",
                              "description": "Fish Model Id Response 401 Error Message 3"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Model Id Response 401 Trace Id 3"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Fish Model Id Response 401"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "used_up",
                          "message": "Your balance is not sufficient for current request, please buy more in Ace Data Cloud."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "used_up",
                              "description": "Fish Model Id Response 403 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "Your balance is not sufficient for current request, please buy more in Ace Data Cloud.",
                              "description": "Fish Model Id Response 403 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Model Id Response 403 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Fish Model Id Response 403"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "no_api",
                          "message": "API does not exist, please make sure url is correct."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "no_api",
                              "description": "Fish Model Id Response 404 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "API does not exist, please make sure url is correct.",
                              "description": "Fish Model Id Response 404 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Model Id Response 404 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Fish Model Id Response 404"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Fish Model Id Response 429 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Fish Model Id Response 429 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Model Id Response 429 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Fish Model Id Response 429"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Fish Model Id Response 500 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Fish Model Id Response 500 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Fish Model Id Response 500 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Fish Model Id Response 500"
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Fish Model Id Param Id"
          },
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Fish Model Id Param Accept"
          }
        ],
        "operationId": "FishgetFishModelById"
      }
    },
    "/fish/tasks": {
      "post": {
        "summary": "Fish Tasks",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/FishTaskRecord"
                    },
                    {
                      "type": "object",
                      "required": [
                        "items",
                        "count"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/FishTaskRecord"
                          },
                          "description": "Openapi.Fc541Faca94147Fdb6F748D6Cb9Da523.Items.23A3674De95A"
                        },
                        "count": {
                          "type": "integer",
[...]
