{
  "openapi": "3.0.0",
  "info": {
    "title": "Luma Video Generation",
    "version": "1.0.0",
    "description": "API reference for Luma Video Generation on Ace Data Cloud."
  },
  "servers": [
    {
      "url": "https://api.acedata.cloud",
      "description": "Ace Data Cloud API"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token from https://platform.acedata.cloud"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/luma/tasks": {
      "post": {
        "summary": "Operate the tasks on the luma.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the luma task."
                    },
                    "request": {
                      "type": "object",
                      "description": "The request of the luma task."
                    },
                    "response": {
                      "type": "object",
                      "description": "The response of the luma task."
                    }
                  }
                }
              }
            },
            "description": "Operation performed successfully."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_not_implemented",
                          "message": "The API is not implemented."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_not_implemented",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The API is not implemented.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Bad request, possibly due to missing or invalid parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized, invalid or missing authorization token."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Too many requests, you have exceeded the rate limit."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Internal server error, something went wrong on the server."
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Specifies the format of the response from the server."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The ID of the luma task."
                  },
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The IDs of the luma tasks."
                  },
                  "action": {
                    "enum": [
                      "retrieve",
                      "retrieve_batch"
                    ],
                    "type": "string",
                    "default": "generate",
                    "description": "Operation type. Use 'retrieve' to get the single task, and 'retrieve_batch' to get the batch of multiple tasks."
                  }
                }
              }
            }
          },
          "required": true
        }
      }
    },
    "/luma/videos": {
      "post": {
        "summary": "Generate videos based on prompt and image frames",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "state": "completed",
                    "prompt": "Astronauts shuttle from space to volcano",
                    "success": true,
                    "task_id": "5636d6ba-957f-475e-a98a-718a07ee89a6",
                    "video_id": "b4ef4c5e-9680-41c8-a678-0ce2ce6194de",
                    "video_url": "https://platform.cdn.acedata.cloud/luma/5636d6ba-957f-475e-a98a-718a07ee89a6.mp4",
                    "video_width": 1552,
                    "video_height": 656,
                    "thumbnail_url": "https://platform.cdn.acedata.cloud/luma/5636d6ba-957f-475e-a98a-718a07ee89a6.jpg",
                    "thumbnail_width": 1552,
                    "thumbnail_height": 656
                  },
                  "properties": {
                    "state": {
                      "type": "string",
                      "description": "The state of the video generation."
                    },
                    "prompt": {
                      "type": "string",
                      "description": "The prompt used to generate the video."
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Indicates if the task was successful executed."
                    },
                    "task_id": {
                      "type": "string",
                      "description": "The ID of the imagine task."
                    },
                    "video_id": {
                      "type": "string",
                      "description": "The unique identifier of the generated video."
                    },
                    "video_url": {
                      "type": "string",
                      "description": "The URL of the generated video."
                    },
                    "video_width": {
                      "type": "number",
                      "description": "The width of the generated video."
                    },
                    "video_height": {
                      "type": "number",
                      "description": "The height of the generated video."
                    },
                    "thumbnail_url": {
                      "type": "string",
                      "description": "The URL of the thumbnail of the generated video."
                    },
                    "thumbnail_width": {
                      "type": "number",
                      "description": "The width of the thumbnail of the generated video."
                    },
                    "thumbnail_height": {
                      "type": "number",
                      "description": "The height of the thumbnail of the generated video."
                    }
                  }
                }
              }
            },
            "description": "Video generated successfully or operation performed successfully."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "bad_request",
                          "message": "The json payload is not valid to request the API"
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "bad_request",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "prompt is required",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_not_implemented",
                          "message": "The API is not implemented."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_not_implemented",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The API is not implemented.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Bad request, possibly due to missing or invalid parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized, invalid or missing authorization token."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "forbidden",
                          "message": "Sorry! Our Al moderators feel your prompt might be against our community standards."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "forbidden",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "Sorry! Our Al moderators feel your prompt might be against our community standards.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Forbidden, the request is understood, but it has been refused or access is not allowed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Too many requests, you have exceeded the rate limit."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Internal server error, something went wrong on the server."
          },
          "504": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "timeout",
                          "message": "Timeout to generate the image."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "timeout",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "Timeout to generate the image.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Timeout, the request took too long to process."
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Specifies the format of the response from the server."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "loop": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enable loop for the generated video."
                  },
                  "action": {
                    "enum": [
                      "generate",
                      "extend"
                    ],
                    "type": "string",
                    "default": "generate",
                    "description": "Operation type. Use 'generate' for the first time and actions values for subsequent operations, and you can specify specific action to perform on the generated video."
                  },
                  "prompt": {
                    "type": "string",
                    "example": "Astronauts shuttle from space to volcano",
                    "description": "The prompt to generate the video."
                  },
                  "timeout": {
                    "type": "number",
                    "default": 300,
                    "description": "Timeout in seconds for the API to return data."
                  },
                  "video_id": {
                    "type": "string",
                    "description": "The unique identifier of the generated video, for subsequent operation 'extend'. If specified, will use video_id instead of video_url."
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "description": "The size of the generated video."
                  },
                  "video_url": {
                    "type": "string",
                    "description": "The URL of the video to extend, for subsequent operation 'extend'."
                  },
                  "enhancement": {
                    "type": "boolean",
                    "default": true,
                    "description": "Enable enhancement for the input prompt text, if you are not sure how to write the prompt."
                  },
                  "callback_url": {
                    "type": "string",
                    "description": "Webhook callback URL for asynchronous notifications."
                  },
                  "end_image_url": {
                    "type": "string",
                    "example": "https://cdn.acedata.cloud/0iad3k.png",
                    "description": "The URL of the end image, it will be the last frame of the generated video."
                  },
                  "start_image_url": {
                    "type": "string",
                    "example": "https://cdn.acedata.cloud/r9vsv9.png",
                    "description": "The URL of the start image, it will be the first frame of the generated video."
                  }
                }
              }
            }
          },
          "required": true
        }
      }
    }
  },
  "tags": [
    {
      "name": "Luma Video Generation"
    }
  ]
}