{
  "openapi": "3.0.0",
  "info": {
    "title": "AI Dialogue",
    "version": "1.0.0",
    "description": "API reference for AI Dialogue on Ace Data Cloud."
  },
  "servers": [
    {
      "url": "https://api.acedata.cloud",
      "description": "Ace Data Cloud API"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token from https://platform.acedata.cloud"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/aichat2/conversations": {
      "post": {
        "summary": "Aichat2 Conversations",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "id": "f2f4b3e8-0c0a-4d3a-aaa2-7ff80c0a1c44",
                    "answer": "Hi! I'm an AI assistant. How can I help you today?"
                  },
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Aichat2 Conversations Response 200 Id"
                    },
                    "answer": {
                      "type": "string",
                      "description": "Aichat2 Conversations Response 200 Answer"
                    }
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "object",
                  "description": "Aichat2 Conversations Response 200 Application X Ndjson",
                  "example": {
                    "type": "text_delta",
                    "content": " today",
                    "delta_answer": " today",
                    "answer": "Hello! How can I assist you today",
                    "id": "f2f4b3e8-0c0a-4d3a-aaa2-7ff80c0a1c44"
                  }
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "object",
                  "description": "Aichat2 Conversations Response 200 Text Event Stream"
                }
              }
            },
            "description": "Aichat2 Conversations Response 200"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "bad_request",
                          "message": "model is required"
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "bad_request",
                              "description": "Aichat2 Conversations Response 400 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "model is required",
                              "description": "Aichat2 Conversations Response 400 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Aichat2 Conversations Response 400 Trace Id"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Aichat2 Conversations Response 400 Error Code 2"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Aichat2 Conversations Response 400 Error Message 2"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Aichat2 Conversations Response 400 Trace Id 2"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Aichat2 Conversations Response 400"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Aichat2 Conversations Response 401 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Aichat2 Conversations Response 401 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Aichat2 Conversations Response 401 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Aichat2 Conversations Response 401"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "error": {
                      "code": "not_found",
                      "message": "conversation not found"
                    },
                    "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                  },
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "not_found",
                          "description": "Aichat2 Conversations Response 404 Error Code"
                        },
                        "message": {
                          "type": "string",
                          "example": "conversation not found",
                          "description": "Aichat2 Conversations Response 404 Error Message"
                        }
                      }
                    },
                    "trace_id": {
                      "type": "string",
                      "description": "Aichat2 Conversations Response 404 Trace Id"
                    }
                  }
                }
              }
            },
            "description": "Aichat2 Conversations Response 404"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "error": {
                      "code": "too_many_requests",
                      "message": "You have exceeded the rate limit."
                    },
                    "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                  },
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "too_many_requests",
                          "description": "Aichat2 Conversations Response 429 Error Code"
                        },
                        "message": {
                          "type": "string",
                          "example": "You have exceeded the rate limit.",
                          "description": "Aichat2 Conversations Response 429 Error Message"
                        }
                      }
                    },
                    "trace_id": {
                      "type": "string",
                      "description": "Aichat2 Conversations Response 429 Trace Id"
                    }
                  }
                }
              }
            },
            "description": "Aichat2 Conversations Response 429"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "error": {
                      "code": "chat_error",
                      "message": "upstream LLM returned an error"
                    },
                    "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                  },
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "chat_error",
                          "description": "Aichat2 Conversations Response 500 Error Code"
                        },
                        "message": {
                          "type": "string",
                          "example": "upstream LLM returned an error",
                          "description": "Aichat2 Conversations Response 500 Error Message"
                        }
                      }
                    },
                    "trace_id": {
                      "type": "string",
                      "description": "Aichat2 Conversations Response 500 Trace Id"
                    }
                  }
                }
              }
            },
            "description": "Aichat2 Conversations Response 500"
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json",
                "application/x-ndjson",
                "text/event-stream"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Aichat2 Conversations Param Accept"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model"
                ],
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "chat",
                      "retrieve",
                      "retrieve_batch",
                      "update",
                      "delete"
                    ],
                    "description": "Aichat2 Conversations Action"
                  },
                  "id": {
                    "type": "string",
                    "description": "Aichat2 Conversations Id"
                  },
                  "model": {
                    "enum": [
                      "gpt-4",
                      "gpt-4.1",
                      "gpt-4.1-mini",
                      "gpt-4.1-nano",
                      "gpt-4o",
                      "gpt-4o-2024-05-13",
                      "gpt-4o-all",
                      "gpt-4o-image",
                      "gpt-4o-mini",
                      "gpt-5-all",
                      "gpt-5.1-all",
                      "gpt-5.2-pro",
                      "gpt-5.4-mini",
                      "gpt-5.4-nano",
                      "gpt-image-1",
                      "claude-3-5-haiku-20241022",
                      "claude-3-5-sonnet-20240620",
                      "claude-3-5-sonnet-20241022",
                      "claude-3-7-sonnet-20250219",
                      "claude-3-haiku-20240307",
                      "claude-3-opus-20240229",
                      "claude-3-sonnet-20240229",
                      "claude-haiku-4-5-20251001",
                      "claude-opus-4-1-20250805",
                      "claude-opus-4-20250514",
                      "claude-opus-4-5-20251101",
                      "claude-opus-4-6",
                      "claude-fable-5",
                      "claude-opus-4-8",
                      "claude-opus-4-7",
                      "claude-sonnet-4-20250514",
                      "claude-sonnet-4-5-20250929",
                      "claude-sonnet-4-6",
                      "claude-sonnet-5",
                      "gemini-2.0-flash-lite",
                      "gemini-2.5-flash-lite",
                      "gemini-3-pro-preview",
                      "gemini-3.1-flash-image-preview",
                      "gemini-3.1-flash-lite-preview",
                      "gemini-3.1-pro",
                      "gemini-3.1-pro-preview",
                      "grok-3",
                      "grok-3-fast",
                      "grok-4",
                      "grok-4.5",
                      "grok-4-0709",
                      "deepseek-chat",
                      "deepseek-r1",
                      "deepseek-r1-0528",
                      "deepseek-reasoner",
                      "deepseek-v3",
                      "deepseek-v3-250324",
                      "deepseek-v3.2-exp",
                      "deepseek-v4-flash",
                      "kimi-k2-0711-preview",
                      "kimi-k2-0905-preview",
                      "kimi-k2-instruct-0905",
                      "kimi-k2-thinking",
                      "kimi-k2-thinking-turbo",
                      "kimi-k2-turbo-preview",
                      "kimi-k2.5",
                      "glm-3-turbo",
                      "glm-4.5",
                      "glm-4.5v",
                      "glm-4.6",
                      "glm-4.7",
                      "glm-5",
                      "glm-5-turbo",
                      "glm-5.2",
                      "glm-5.1",
                      "o1",
                      "o1-mini",
                      "o1-pro",
                      "o3",
                      "o3-mini",
                      "o3-pro",
                      "o4-mini"
                    ],
                    "type": "string",
                    "description": "Aichat2 Conversations Model"
                  },
                  "question": {
                    "type": "string",
                    "description": "Aichat2 Conversations Question"
                  },
                  "message": {
                    "description": "Aichat2 Conversations Message",
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "text",
                                "image_url",
                                "file_url"
                              ]
                            },
                            "text": {
                              "type": "string",
                              "description": "Aichat2 Conversations Message Text"
                            },
                            "image_url": {
                              "type": "object",
                              "description": "Aichat2 Conversations Message Image Url",
                              "properties": {
                                "url": {
                                  "type": "string"
                                }
                              }
                            },
                            "file_url": {
                              "type": "object",
                              "description": "Aichat2 Conversations Message File Url",
                              "properties": {
                                "url": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    ]
                  },
                  "stateful": {
                    "type": "boolean",
                    "default": true,
                    "description": "Aichat2 Conversations Stateful"
                  },
                  "references": {
                    "type": "array",
                    "description": "Aichat2 Conversations References",
                    "items": {
                      "type": "string"
                    }
                  },
                  "preset": {
                    "type": "string",
                    "description": "Aichat2 Conversations Preset"
                  },
                  "max_turns": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Aichat2 Conversations Max Turns"
                  },
                  "async": {
                    "type": "boolean",
                    "default": false,
                    "description": "Aichat2 Conversations Async"
                  },
                  "callback_url": {
                    "type": "string",
                    "description": "Aichat2 Conversations Callback Url"
                  },
                  "allowed_skills": {
                    "type": "array",
                    "description": "Aichat2 Conversations Allowed Skills",
                    "items": {
                      "type": "string"
                    }
                  },
                  "allowed_mcp_servers": {
                    "type": "array",
                    "description": "Aichat2 Conversations Allowed Mcp Servers",
                    "items": {
                      "type": "string"
                    }
                  },
                  "unattended_policy": {
                    "type": "object",
                    "description": "Aichat2 Conversations Unattended Policy",
                    "properties": {
                      "mode": {
                        "type": "string",
                        "enum": [
                          "deny_all",
                          "allow_selected"
                        ]
                      },
                      "allowed_skills": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "allowed_mcp_servers": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "expires_at": {
                        "type": "integer"
                      }
                    }
                  },
                  "tool_results": {
                    "type": "array",
                    "description": "Aichat2 Conversations Tool Results",
                    "items": {
                      "type": "object",
                      "required": [
                        "tool_use_id",
                        "output"
                      ],
                      "properties": {
                        "tool_use_id": {
                          "type": "string",
                          "description": "Aichat2 Conversations Tool Results Tool Use Id"
                        },
                        "output": {
                          "type": "string",
                          "description": "Aichat2 Conversations Tool Results Output"
                        },
                        "is_error": {
                          "type": "boolean",
                          "description": "Aichat2 Conversations Tool Results Is Error"
                        }
                      }
                    }
                  },
                  "messages": {
                    "type": "array",
                    "description": "Aichat2 Conversations Messages",
                    "items": {
                      "type": "object"
                    }
                  },
                  "title": {
                    "type": "string",
                    "description": "Aichat2 Conversations Title"
                  },
                  "user_id": {
                    "type": "string",
                    "description": "Aichat2 Conversations User Id"
                  },
                  "application_id": {
                    "type": "string",
                    "description": "Aichat2 Conversations Application Id"
                  },
                  "model_group": {
                    "type": "string",
                    "enum": [
                      "chatgpt",
                      "claude",
                      "gemini",
                      "grok",
                      "kimi",
                      "glm",
                      "deepseek"
                    ],
                    "description": "Aichat2 Conversations Model Group"
                  },
                  "offset": {
                    "type": "integer",
                    "minimum": 0,
                    "default": 0,
                    "description": "Aichat2 Conversations Offset"
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 100,
                    "description": "Aichat2 Conversations Limit"
                  }
                }
              },
              "example": {
                "model": "gpt-4"
              }
            }
          },
          "required": true
        }
      }
    },
    "/aichat/conversations": {
      "post": {
        "summary": "Conversations",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "id": "64a67fff-61dc-4801-8339-2c69334c61d6",
                    "answer": "I am a highly intelligent question answering AI. If you ask me a question, I will do my best to give you a helpful answer."
                  },
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Aichat Conversations Response 200 Id"
                    },
                    "answer": {
                      "type": "string",
                      "description": "Aichat Conversations Response 200 Answer"
                    }
                  }
                }
              }
            },
            "description": "Aichat Conversations Response 200"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Aichat Conversations Response 400 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Aichat Conversations Response 400 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Aichat Conversations Response 400 Trace Id"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_not_implemented",
                          "message": "The API is not implemented."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_not_implemented",
                              "description": "Aichat Conversations Response 400 Error Code 2"
                            },
                            "message": {
                              "type": "string",
                              "example": "The API is not implemented.",
                              "description": "Aichat Conversations Response 400 Error Message 2"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Aichat Conversations Response 400 Trace Id 2"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Aichat Conversations Response 400"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Aichat Conversations Response 401 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Aichat Conversations Response 401 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Aichat Conversations Response 401 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Aichat Conversations Response 401"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Aichat Conversations Response 429 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Aichat Conversations Response 429 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Aichat Conversations Response 429 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Aichat Conversations Response 429"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Aichat Conversations Response 500 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Aichat Conversations Response 500 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Aichat Conversations Response 500 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Aichat Conversations Response 500"
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json",
                "application/x-ndjson"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Aichat Conversations Param Accept"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "question",
                  "model"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Aichat Conversations Id"
                  },
                  "model": {
                    "enum": [
                      "gpt-5.6-luna",
                      "gpt-5.6-terra",
                      "gpt-5.6-sol",
                      "gpt-5.5",
                      "gpt-5.5-pro",
                      "gpt-5.4",
                      "gpt-5.4-mini",
                      "gpt-5.4-nano",
                      "gpt-5.4-pro",
                      "gpt-5.2",
                      "gpt-5.1",
                      "gpt-5.1-all",
                      "gpt-5",
                      "gpt-5-mini",
                      "gpt-5-nano",
                      "gpt-5-all",
                      "gpt-4",
                      "gpt-4-all",
                      "gpt-4-turbo",
                      "gpt-4-turbo-preview",
                      "gpt-4-vision-preview",
                      "gpt-4.1",
                      "gpt-4.1-2025-04-14",
                      "gpt-4.1-mini",
                      "gpt-4.1-mini-2025-04-14",
                      "gpt-4.1-nano",
                      "gpt-4.1-nano-2025-04-14",
                      "gpt-4.5-preview",
                      "gpt-4.5-preview-2025-02-27",
                      "gpt-4o",
                      "gpt-4o-2024-05-13",
                      "gpt-4o-2024-08-06",
                      "gpt-4o-2024-11-20",
                      "gpt-4o-all",
                      "gpt-4o-image",
                      "gpt-4o-mini",
                      "gpt-4o-mini-2024-07-18",
                      "gpt-4o-mini-search-preview",
                      "gpt-4o-mini-search-preview-2025-03-11",
                      "gpt-4o-search-preview",
                      "gpt-4o-search-preview-2025-03-11",
                      "o1",
                      "o1-2024-12-17",
                      "o1-all",
                      "o1-mini",
                      "o1-mini-2024-09-12",
                      "o1-mini-all",
                      "o1-preview",
                      "o1-preview-2024-09-12",
                      "o1-preview-all",
                      "o1-pro",
                      "o1-pro-2025-03-19",
                      "o1-pro-all",
                      "o3",
                      "o3-2025-04-16",
                      "o3-all",
                      "o3-mini",
                      "o3-mini-2025-01-31",
                      "o3-mini-2025-01-31-high",
                      "o3-mini-2025-01-31-low",
                      "o3-mini-2025-01-31-medium",
                      "o3-mini-all",
                      "o3-mini-high",
                      "o3-mini-high-all",
                      "o3-mini-low",
                      "o3-mini-medium",
                      "o3-pro",
                      "o3-pro-2025-06-10",
                      "o4-mini",
                      "o4-mini-2025-04-16",
                      "o4-mini-all",
                      "o4-mini-high-all",
                      "deepseek-r1",
                      "deepseek-r1-0528",
                      "deepseek-v3",
                      "deepseek-v3-250324",
                      "deepseek-v4-flash",
                      "grok-4.5",
                      "grok-3",
                      "glm-5.2",
                      "glm-5",
                      "glm-5-turbo",
                      "glm-5.1",
                      "glm-4.7",
                      "glm-4.6",
                      "glm-3-turbo"
                    ],
                    "type": "string",
                    "description": "Aichat Conversations Model"
                  },
                  "preset": {
                    "type": "string",
                    "description": "Aichat Conversations Preset"
                  },
                  "question": {
                    "type": "string",
                    "description": "Aichat Conversations Question"
                  },
                  "stateful": {
                    "type": "boolean",
                    "description": "Aichat Conversations Stateful"
                  },
                  "references": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Aichat Conversations References"
                    }
                  }
                }
              },
              "example": {
                "model": "gpt-5.5",
                "question": "A cute cat playing piano"
              }
            }
          },
          "required": true
        },
        "description": "Use Large Language Model to generate answers for the given prompt, which can supports all kind of models, such as GPT-3, GPT-4, GPT-4-Browsing, etc"
      }
    }
  }
}
