{
  "openapi": "3.0.0",
  "info": {
    "title": "Gemini AI",
    "version": "1.0.0",
    "description": "API reference for Gemini AI on Ace Data Cloud."
  },
  "servers": [
    {
      "url": "https://api.acedata.cloud",
      "description": "Ace Data Cloud API"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token from https://platform.acedata.cloud"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/gemini/chat/completions": {
      "post": {
        "summary": "Gemini Chat Completions",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "choices",
                    "created",
                    "id",
                    "model",
                    "object"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Gemini Chat Completions Response 200 Id"
                    },
                    "model": {
                      "type": "string",
                      "description": "Gemini Chat Completions Response 200 Model"
                    },
                    "object": {
                      "enum": [
                        "chat.completion"
                      ],
                      "type": "string",
                      "description": "Gemini Chat Completions Response 200 Object"
                    },
                    "choices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "finish_reason",
                          "index",
                          "message"
                        ],
                        "properties": {
                          "index": {
                            "type": "number",
                            "description": "Gemini Chat Completions Response 200 Choices Index"
                          },
                          "message": {
                            "type": "object",
                            "required": [
                              "role"
                            ],
                            "properties": {
                              "role": {
                                "enum": [
                                  "assistant"
                                ],
                                "type": "string",
                                "description": "Gemini Chat Completions Response 200 Choices Message Role"
                              },
                              "content": {
                                "type": "string",
                                "nullable": true,
                                "description": "Gemini Chat Completions Response 200 Choices Message"
                              },
                              "tool_calls": {
                                "type": "array",
                                "nullable": true,
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "id",
                                    "type",
                                    "function"
                                  ],
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "Gemini Chat Completions Response 200 Choices Message Tool Calls Id"
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "function"
                                      ],
                                      "description": "Gemini Chat Completions Response 200 Choices Message Tool Calls Type"
                                    },
                                    "function": {
                                      "type": "object",
                                      "required": [
                                        "name",
                                        "arguments"
                                      ],
                                      "properties": {
                                        "name": {
                                          "type": "string",
                                          "description": "Gemini Chat Completions Response 200 Choices Message Tool Calls Function Name"
                                        },
                                        "arguments": {
                                          "type": "string",
                                          "description": "Gemini Chat Completions Response 200 Choices Message Tool Calls Function Arguments"
                                        }
                                      },
                                      "description": "Gemini Chat Completions Response 200 Choices Message Tool Calls Function"
                                    }
                                  }
                                },
                                "description": "Gemini Chat Completions Response 200 Choices Message Tool Calls"
                              },
                              "refusal": {
                                "type": "string",
                                "nullable": true,
                                "description": "Gemini Chat Completions Response 200 Choices Message Refusal"
                              },
                              "audio": {
                                "type": "object",
                                "nullable": true,
                                "required": [
                                  "id",
                                  "data",
                                  "expires_at"
                                ],
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "Gemini Chat Completions Response 200 Choices Message Audio Id"
                                  },
                                  "expires_at": {
                                    "type": "integer",
                                    "description": "Gemini Chat Completions Response 200 Choices Message Audio Expires At"
                                  },
                                  "data": {
                                    "type": "string",
                                    "description": "Gemini Chat Completions Response 200 Choices Message Audio Data"
                                  },
                                  "transcript": {
                                    "type": "string",
                                    "description": "Gemini Chat Completions Response 200 Choices Message Audio Transcript"
                                  }
                                },
                                "description": "Gemini Chat Completions Response 200 Choices Message Audio"
                              }
                            },
                            "description": "Gemini Chat Completions Response 200 Choices Message 2"
                          },
                          "finish_reason": {
                            "enum": [
                              "stop",
                              "length",
                              "tool_calls",
                              "content_filter",
                              "function_call"
                            ],
                            "type": "string",
                            "description": "Gemini Chat Completions Response 200 Choices Finish Reason"
                          },
                          "logprobs": {
                            "type": "object",
                            "nullable": true,
                            "description": "Gemini Chat Completions Response 200 Choices Logprobs"
                          }
                        }
                      },
                      "description": "Gemini Chat Completions Response 200 Choices"
                    },
                    "created": {
                      "type": "number",
                      "description": "Gemini Chat Completions Response 200 Created"
                    },
                    "system_fingerprint": {
                      "type": "string",
                      "description": "Gemini Chat Completions Response 200 System Fingerprint"
                    },
                    "usage": {
                      "type": "object",
                      "required": [
                        "prompt_tokens",
                        "completion_tokens",
                        "total_tokens"
                      ],
                      "properties": {
                        "prompt_tokens": {
                          "type": "integer",
                          "description": "Gemini Chat Completions Response 200 Usage Prompt Tokens"
                        },
                        "completion_tokens": {
                          "type": "integer",
                          "description": "Gemini Chat Completions Response 200 Usage Completion Tokens"
                        },
                        "total_tokens": {
                          "type": "integer",
                          "description": "Gemini Chat Completions Response 200 Usage Total Tokens"
                        },
                        "prompt_tokens_details": {
                          "type": "object",
                          "properties": {
                            "cached_tokens": {
                              "type": "integer",
                              "description": "Gemini Chat Completions Response 200 Usage Prompt Tokens Details Cached Tokens"
                            },
                            "audio_tokens": {
                              "type": "integer",
                              "description": "Gemini Chat Completions Response 200 Usage Prompt Tokens Details Audio Tokens"
                            }
                          },
                          "description": "Gemini Chat Completions Response 200 Usage Prompt Tokens Details"
                        },
                        "completion_tokens_details": {
                          "type": "object",
                          "properties": {
                            "reasoning_tokens": {
                              "type": "integer",
                              "description": "Gemini Chat Completions Response 200 Usage Completion Tokens Details Reasoning Tokens"
                            },
                            "audio_tokens": {
                              "type": "integer",
                              "description": "Gemini Chat Completions Response 200 Usage Completion Tokens Details Audio Tokens"
                            },
                            "accepted_prediction_tokens": {
                              "type": "integer",
                              "description": "Gemini Chat Completions Response 200 Usage Completion Tokens Details Accepted Prediction Tokens"
                            },
                            "rejected_prediction_tokens": {
                              "type": "integer",
                              "description": "Gemini Chat Completions Response 200 Usage Completion Tokens Details Rejected Prediction Tokens"
                            }
                          },
                          "description": "Gemini Chat Completions Response 200 Usage Completion Tokens Details"
                        }
                      },
                      "description": "Gemini Chat Completions Response 200 Usage"
                    }
                  },
                  "description": "Gemini Chat Completions Response 200"
                }
              }
            },
            "description": "Gemini Chat Completions Response 200 2"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Gemini Chat Completions Response 400 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Gemini Chat Completions Response 400 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Gemini Chat Completions Response 400 Trace Id"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_not_implemented",
                          "message": "The API is not implemented."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_not_implemented",
                              "description": "Gemini Chat Completions Response 400 Error Code 2"
                            },
                            "message": {
                              "type": "string",
                              "example": "The API is not implemented.",
                              "description": "Gemini Chat Completions Response 400 Error Message 2"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Gemini Chat Completions Response 400 Trace Id 2"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Gemini Chat Completions Response 400"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Gemini Chat Completions Response 401 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Gemini Chat Completions Response 401 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Gemini Chat Completions Response 401 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Gemini Chat Completions Response 401"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Gemini Chat Completions Response 429 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Gemini Chat Completions Response 429 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Gemini Chat Completions Response 429 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Gemini Chat Completions Response 429"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Gemini Chat Completions Response 500 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Gemini Chat Completions Response 500 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Gemini Chat Completions Response 500 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Gemini Chat Completions Response 500"
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Gemini Chat Completions Param Accept"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "messages"
                ],
                "properties": {
                  "n": {
                    "type": "number",
                    "default": 1,
                    "example": 1,
                    "maximum": 128,
                    "minimum": 1,
                    "nullable": true,
                    "description": "Gemini Chat Completions N"
                  },
                  "model": {
                    "enum": [
                      "gemini-3.1-pro",
                      "gemini-3.0-pro",
                      "gemini-3.5-flash",
                      "gemini-3-flash-preview",
                      "gemini-2.5-pro",
                      "gemini-2.5-flash",
                      "gemini-2.5-flash-lite",
                      "gemini-2.0-flash",
                      "gemini-3.1-flash-lite-preview",
                      "gemini-3.1-flash-image",
                      "gemini-2.5-flash-image",
                      "gemini-3-pro-image"
                    ],
                    "type": "string",
                    "example": "gemini-3.0-pro",
                    "description": "Gemini Chat Completions Model"
                  },
                  "stream": {
                    "type": "boolean",
                    "default": false,
                    "nullable": true,
                    "description": "Gemini Chat Completions Stream"
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "role"
                      ],
                      "properties": {
                        "role": {
                          "enum": [
                            "user",
                            "assistant",
                            "system",
                            "developer",
                            "tool"
                          ],
                          "type": "string",
                          "description": "Gemini Chat Completions Messages Role"
                        },
                        "content": {
                          "oneOf": [
                            {
                              "type": "string",
                              "description": "Gemini Chat Completions Messages"
                            },
                            {
                              "type": "array",
                              "items": {
                                "oneOf": [
                                  {
                                    "type": "object",
                                    "required": [
                                      "type",
                                      "text"
                                    ],
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "text"
                                        ],
                                        "description": "Gemini Chat Completions Messages Type"
                                      },
                                      "text": {
                                        "type": "string",
                                        "description": "Gemini Chat Completions Messages Text"
                                      }
                                    }
                                  },
                                  {
                                    "type": "object",
                                    "required": [
                                      "type",
                                      "image_url"
                                    ],
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "image_url"
                                        ],
                                        "description": "Gemini Chat Completions Messages Type 2"
                                      },
                                      "image_url": {
                                        "type": "object",
                                        "required": [
                                          "url"
                                        ],
                                        "properties": {
                                          "url": {
                                            "type": "string",
                                            "description": "Gemini Chat Completions Messages Image Url Url"
                                          },
                                          "detail": {
                                            "type": "string",
                                            "enum": [
                                              "auto",
                                              "low",
                                              "high"
                                            ],
                                            "default": "auto",
                                            "description": "Gemini Chat Completions Messages Image Url Detail"
                                          }
                                        },
                                        "description": "Gemini Chat Completions Messages Image Url"
                                      }
                                    }
                                  }
                                ]
                              },
                              "minItems": 1,
                              "description": "Gemini Chat Completions Messages 2"
                            }
                          ],
                          "description": "Gemini Chat Completions Messages 3"
                        },
                        "name": {
                          "type": "string",
                          "description": "Gemini Chat Completions Messages Name"
                        },
                        "tool_calls": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "id",
                              "type",
                              "function"
                            ],
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Gemini Chat Completions Messages Tool Calls Id"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "function"
                                ],
                                "description": "Gemini Chat Completions Messages Tool Calls Type"
                              },
                              "function": {
                                "type": "object",
                                "required": [
                                  "name",
                                  "arguments"
                                ],
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "description": "Gemini Chat Completions Messages Tool Calls Function Name"
                                  },
                                  "arguments": {
                                    "type": "string",
                                    "description": "Gemini Chat Completions Messages Tool Calls Function Arguments"
                                  }
                                }
                              }
                            }
                          },
                          "description": "Gemini Chat Completions Messages Tool Calls"
                        },
                        "refusal": {
                          "type": "string",
                          "nullable": true,
                          "description": "Gemini Chat Completions Messages Refusal"
                        },
                        "tool_call_id": {
                          "type": "string",
                          "description": "Gemini Chat Completions Messages Tool Call Id"
                        }
                      }
                    },
                    "minItems": 1,
                    "description": "Gemini Chat Completions Messages 4"
                  },
                  "max_tokens": {
                    "type": "number",
                    "nullable": true,
                    "description": "Gemini Chat Completions Max Tokens"
                  },
                  "temperature": {
                    "type": "number",
                    "default": 1,
                    "example": 1,
                    "maximum": 2,
                    "minimum": 0,
                    "nullable": true,
                    "description": "Gemini Chat Completions Temperature"
                  },
                  "response_format": {
                    "oneOf": [
                      {
                        "type": "object",
                        "required": [
                          "type"
                        ],
                        "properties": {
                          "type": {
                            "enum": [
                              "text"
                            ],
                            "type": "string",
                            "description": "Gemini Chat Completions Response Format Type"
                          }
                        },
                        "description": "Gemini Chat Completions Response Format"
                      },
                      {
                        "type": "object",
                        "required": [
                          "type"
                        ],
                        "properties": {
                          "type": {
                            "enum": [
                              "json_object"
                            ],
                            "type": "string",
                            "description": "Gemini Chat Completions Response Format Type 2"
                          }
                        },
                        "description": "Gemini Chat Completions Response Format 2"
                      },
                      {
                        "type": "object",
                        "required": [
                          "type",
                          "json_schema"
                        ],
                        "properties": {
                          "type": {
                            "enum": [
                              "json_schema"
                            ],
                            "type": "string",
                            "description": "Gemini Chat Completions Response Format Type 3"
                          },
                          "json_schema": {
                            "type": "object",
                            "required": [
                              "name"
                            ],
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Gemini Chat Completions Response Format Json Schema Name"
                              },
                              "description": {
                                "type": "string",
                                "description": "Gemini Chat Completions Response Format Json Schema Description"
                              },
                              "schema": {
                                "type": "object",
                                "description": "Gemini Chat Completions Response Format Json Schema"
                              },
                              "strict": {
                                "type": "boolean",
                                "default": false,
                                "nullable": true,
                                "description": "Gemini Chat Completions Response Format Json Schema Strict"
                              }
                            }
                          }
                        },
                        "description": "Gemini Chat Completions Response Format 3"
                      }
                    ],
                    "description": "Gemini Chat Completions Response Format 4"
                  },
                  "top_p": {
                    "type": "number",
                    "default": 1,
                    "example": 1,
                    "maximum": 1,
                    "minimum": 0,
                    "nullable": true,
                    "description": "Gemini Chat Completions Top P"
                  },
                  "frequency_penalty": {
                    "type": "number",
                    "default": 0,
                    "example": 0,
                    "maximum": 2,
                    "minimum": -2,
                    "nullable": true,
                    "description": "Gemini Chat Completions Frequency Penalty"
                  },
                  "presence_penalty": {
                    "type": "number",
                    "default": 0,
                    "example": 0,
                    "maximum": 2,
                    "minimum": -2,
                    "nullable": true,
                    "description": "Gemini Chat Completions Presence Penalty"
                  },
                  "seed": {
                    "type": "integer",
                    "nullable": true,
                    "description": "Gemini Chat Completions Seed"
                  },
                  "stop": {
                    "nullable": true,
                    "oneOf": [
                      {
                        "type": "string",
                        "description": "Gemini Chat Completions Stop"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "minItems": 1,
                        "maxItems": 4,
                        "description": "Gemini Chat Completions Stop 2"
                      }
                    ],
                    "description": "Gemini Chat Completions Stop 3"
                  },
                  "max_completion_tokens": {
                    "type": "integer",
                    "nullable": true,
                    "description": "Gemini Chat Completions Max Completion Tokens"
                  },
                  "logprobs": {
                    "type": "boolean",
                    "default": false,
                    "nullable": true,
                    "description": "Gemini Chat Completions Logprobs"
                  },
                  "top_logprobs": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 20,
                    "nullable": true,
                    "description": "Gemini Chat Completions Top Logprobs"
                  },
                  "stream_options": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "include_usage": {
                        "type": "boolean",
                        "description": "Gemini Chat Completions Stream Options Include Usage"
                      }
                    },
                    "description": "Gemini Chat Completions Stream Options"
                  },
                  "parallel_tool_calls": {
                    "type": "boolean",
                    "default": true,
                    "description": "Gemini Chat Completions Parallel Tool Calls"
                  },
                  "user": {
                    "type": "string",
                    "description": "Gemini Chat Completions User"
                  },
                  "reasoning_effort": {
                    "type": "string",
                    "enum": [
                      "minimal",
                      "low",
                      "medium",
                      "high"
                    ],
                    "default": "medium",
                    "nullable": true,
                    "description": "Gemini Chat Completions Reasoning Effort"
                  },
                  "service_tier": {
                    "type": "string",
                    "enum": [
                      "auto",
                      "default",
                      "flex",
                      "scale",
                      "priority"
                    ],
                    "default": "auto",
                    "nullable": true,
                    "description": "Gemini Chat Completions Service Tier"
                  },
                  "store": {
                    "type": "boolean",
                    "default": false,
                    "nullable": true,
                    "description": "Gemini Chat Completions Store"
                  },
                  "metadata": {
                    "type": "object",
                    "nullable": true,
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Gemini Chat Completions Metadata"
                  },
                  "logit_bias": {
                    "type": "object",
                    "nullable": true,
                    "additionalProperties": {
                      "type": "integer"
                    },
                    "description": "Gemini Chat Completions Logit Bias"
                  },
                  "modalities": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "text",
                        "audio"
                      ]
                    },
                    "nullable": true,
                    "description": "Gemini Chat Completions Modalities"
                  },
                  "audio": {
                    "type": "object",
                    "nullable": true,
                    "required": [
                      "voice",
                      "format"
                    ],
                    "properties": {
                      "voice": {
                        "type": "string",
                        "enum": [
                          "alloy",
                          "ash",
                          "ballad",
                          "coral",
                          "echo",
                          "fable",
                          "nova",
                          "onyx",
                          "sage",
                          "shimmer"
                        ],
                        "description": "Gemini Chat Completions Audio Voice"
                      },
                      "format": {
                        "type": "string",
                        "enum": [
                          "wav",
                          "aac",
                          "mp3",
                          "flac",
                          "opus",
                          "pcm16"
                        ],
                        "description": "Gemini Chat Completions Audio Format"
                      }
                    },
                    "description": "Gemini Chat Completions Audio"
                  },
                  "prediction": {
                    "type": "object",
                    "nullable": true,
                    "required": [
                      "type",
                      "content"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "content"
                        ],
                        "description": "Gemini Chat Completions Prediction Type"
                      },
                      "content": {
                        "oneOf": [
                          {
                            "type": "string",
                            "description": "Gemini Chat Completions Prediction"
                          },
                          {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "required": [
                                "type",
                                "text"
                              ],
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "text"
                                  ]
                                },
                                "text": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        ],
                        "description": "Gemini Chat Completions Prediction 2"
                      }
                    },
                    "description": "Gemini Chat Completions Prediction 3"
                  },
                  "web_search_options": {
                    "type": "object",
                    "properties": {
                      "search_context_size": {
                        "type": "string",
                        "enum": [
                          "low",
                          "medium",
                          "high"
                        ],
                        "default": "medium",
                        "description": "Gemini Chat Completions Web Search Options Search Context Size"
                      },
                      "user_location": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "approximate"
                            ]
                          },
                          "approximate": {
                            "type": "object",
                            "properties": {
                              "country": {
                                "type": "string"
                              },
                              "region": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "timezone": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "description": "Gemini Chat Completions Web Search Options User Location"
                      }
                    },
                    "description": "Gemini Chat Completions Web Search Options"
                  },
                  "tools": {
                    "type": "array",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "function"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "function"
                          ],
                          "description": "Gemini Chat Completions Tools Type"
                        },
                        "function": {
                          "type": "object",
                          "required": [
                            "name"
                          ],
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Gemini Chat Completions Tools Function Name"
                            },
                            "description": {
                              "type": "string",
                              "description": "Gemini Chat Completions Tools Function Description"
                            },
                            "parameters": {
                              "type": "object",
                              "description": "Gemini Chat Completions Tools Function"
                            }
                          },
                          "description": "Gemini Chat Completions Tools Function 2"
                        }
                      }
                    },
                    "description": "Gemini Chat Completions Tools"
                  },
                  "tool_choice": {
                    "oneOf": [
                      {
                        "type": "string",
                        "enum": [
                          "none",
                          "auto",
                          "required"
                        ],
                        "description": "Gemini Chat Completions Tool Choice"
                      },
                      {
                        "type": "object",
                        "required": [
                          "type",
                          "function"
                        ],
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "function"
                            ],
                            "description": "Gemini Chat Completions Tool Choice Type"
                          },
                          "function": {
                            "type": "object",
                            "required": [
                              "name"
                            ],
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Gemini Chat Completions Tool Choice Function Name"
                              }
                            }
                          }
                        },
                        "description": "Gemini Chat Completions Tool Choice 2"
                      }
                    ],
                    "description": "Gemini Chat Completions Tool Choice 3"
                  }
                }
              },
              "example": {
                "n": 1,
                "model": "gemini-3.0-pro",
                "messages": [
                  {
                    "role": "user",
                    "content": "Hello!"
                  }
                ],
                "temperature": 1,
                "top_p": 1,
                "frequency_penalty": 0,
                "presence_penalty": 0
              }
            }
          },
          "required": true
        }
      }
    },
    "/v1beta/models/{model}:generateContent": {
      "post": {
        "summary": "Gemini Generate Content",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "gemini-2.0-flash",
                "gemini-2.5-flash",
                "gemini-2.5-flash-lite",
                "gemini-2.5-pro",
                "gemini-3-flash-preview",
                "gemini-3.5-flash",
                "gemini-3.0-pro",
                "gemini-3.1-pro",
                "gemini-3.1-flash-lite-preview",
                "gemini-3.1-flash-image",
                "gemini-2.5-flash-image",
                "gemini-3-pro-image"
              ],
              "example": "gemini-2.5-flash"
            },
            "description": "V1Beta Models Model Generatecontent Param Model"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "contents"
                ],
                "properties": {
                  "contents": {
                    "type": "array",
                    "description": "V1Beta Models Model Generatecontent Contents",
                    "items": {
                      "type": "object",
                      "required": [
                        "parts"
                      ],
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "user",
                            "model"
                          ],
                          "description": "V1Beta Models Model Generatecontent Contents Role"
                        },
                        "parts": {
                          "type": "array",
                          "description": "V1Beta Models Model Generatecontent Contents Parts",
                          "items": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string",
                                "description": "V1Beta Models Model Generatecontent Contents Parts Text"
                              },
                              "inlineData": {
                                "type": "object",
                                "description": "V1Beta Models Model Generatecontent Contents Parts Inlinedata",
                                "properties": {
                                  "mimeType": {
                                    "type": "string",
                                    "description": "V1Beta Models Model Generatecontent Contents Parts Inlinedata Mimetype"
                                  },
                                  "data": {
                                    "type": "string",
                                    "description": "V1Beta Models Model Generatecontent Contents Parts Inlinedata Data"
                                  }
                                }
                              },
                              "fileData": {
                                "type": "object",
                                "description": "V1Beta Models Model Generatecontent Contents Parts Filedata",
                                "properties": {
                                  "mimeType": {
                                    "type": "string"
                                  },
                                  "fileUri": {
                                    "type": "string"
                                  }
                                }
                              },
                              "functionCall": {
                                "type": "object",
                                "description": "V1Beta Models Model Generatecontent Contents Parts Functioncall",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "args": {
                                    "type": "object"
                                  }
                                }
                              },
                              "functionResponse": {
                                "type": "object",
                                "description": "V1Beta Models Model Generatecontent Contents Parts Functionresponse",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "response": {
                                    "type": "object"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "systemInstruction": {
                    "type": "object",
                    "description": "V1Beta Models Model Generatecontent Systeminstruction",
                    "properties": {
                      "parts": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "text": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "generationConfig": {
                    "type": "object",
                    "description": "V1Beta Models Model Generatecontent Generationconfig",
                    "properties": {
                      "stopSequences": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "V1Beta Models Model Generatecontent Generationconfig Stopsequences"
                      },
                      "responseMimeType": {
                        "type": "string",
                        "description": "V1Beta Models Model Generatecontent Generationconfig Responsemimetype",
                        "enum": [
                          "text/plain",
                          "application/json",
                          "text/x.enum"
                        ]
                      },
                      "responseSchema": {
                        "type": "object",
                        "description": "V1Beta Models Model Generatecontent Generationconfig Responseschema"
                      },
                      "responseModalities": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "TEXT",
                            "IMAGE",
                            "AUDIO"
                          ]
                        },
                        "description": "V1Beta Models Model Generatecontent Generationconfig Responsemodalities"
                      },
                      "candidateCount": {
                        "type": "integer",
                        "description": "V1Beta Models Model Generatecontent Generationconfig Candidatecount"
                      },
                      "maxOutputTokens": {
                        "type": "integer",
                        "description": "V1Beta Models Model Generatecontent Generationconfig Maxoutputtokens"
                      },
                      "temperature": {
                        "type": "number",
                        "description": "V1Beta Models Model Generatecontent Generationconfig Temperature",
                        "minimum": 0,
                        "maximum": 2
                      },
                      "topP": {
                        "type": "number",
                        "description": "V1Beta Models Model Generatecontent Generationconfig Topp"
                      },
                      "topK": {
                        "type": "integer",
                        "description": "V1Beta Models Model Generatecontent Generationconfig Topk"
                      },
                      "seed": {
                        "type": "integer",
                        "description": "V1Beta Models Model Generatecontent Generationconfig Seed"
                      },
                      "presencePenalty": {
                        "type": "number",
                        "description": "V1Beta Models Model Generatecontent Generationconfig Presencepenalty"
                      },
                      "frequencyPenalty": {
                        "type": "number",
                        "description": "V1Beta Models Model Generatecontent Generationconfig Frequencypenalty"
                      },
                      "thinkingConfig": {
                        "type": "object",
                        "description": "V1Beta Models Model Generatecontent Generationconfig Thinkingconfig",
                        "properties": {
                          "includeThoughts": {
                            "type": "boolean",
                            "description": "V1Beta Models Model Generatecontent Generationconfig Thinkingconfig Includethoughts"
                          },
                          "thinkingBudget": {
                            "type": "integer",
                            "description": "V1Beta Models Model Generatecontent Generationconfig Thinkingconfig Thinkingbudget"
                          }
                        }
                      },
                      "imageConfig": {
                        "type": "object",
                        "description": "V1Beta Models Model Generatecontent Generationconfig Imageconfig",
                        "properties": {
                          "aspectRatio": {
                            "type": "string",
                            "description": "V1Beta Models Model Generatecontent Generationconfig Imageconfig Aspectratio"
                          },
                          "imageSize": {
                            "type": "string",
                            "enum": [
                              "512",
                              "1K",
                              "2K",
                              "4K"
                            ],
                            "description": "V1Beta Models Model Generatecontent Generationconfig Imageconfig Imagesize"
                          }
                        }
                      },
                      "speechConfig": {
                        "type": "object",
                        "description": "V1Beta Models Model Generatecontent Generationconfig Speechconfig"
                      }
                    }
                  },
                  "tools": {
                    "type": "array",
                    "description": "V1Beta Models Model Generatecontent Tools",
                    "items": {
                      "type": "object",
                      "properties": {
                        "functionDeclarations": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "object"
                              }
                            },
                            "required": [
                              "name"
                            ]
                          }
                        },
                        "codeExecution": {
                          "type": "object",
                          "description": "V1Beta Models Model Generatecontent Tools Codeexecution"
                        },
                        "googleSearch": {
                          "type": "object",
                          "description": "V1Beta Models Model Generatecontent Tools Googlesearch"
                        },
                        "urlContext": {
                          "type": "object",
                          "description": "V1Beta Models Model Generatecontent Tools Urlcontext"
                        }
                      }
                    }
                  },
                  "toolConfig": {
                    "type": "object",
                    "description": "V1Beta Models Model Generatecontent Toolconfig",
                    "properties": {
                      "functionCallingConfig": {
                        "type": "object",
                        "properties": {
                          "mode": {
                            "type": "string",
                            "enum": [
                              "MODE_UNSPECIFIED",
                              "AUTO",
                              "ANY",
                              "NONE"
                            ]
                          },
                          "allowedFunctionNames": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "safetySettings": {
                    "type": "array",
                    "description": "V1Beta Models Model Generatecontent Safetysettings",
                    "items": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "enum": [
                            "HARM_CATEGORY_HARASSMENT",
                            "HARM_CATEGORY_HATE_SPEECH",
                            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
                            "HARM_CATEGORY_DANGEROUS_CONTENT",
                            "HARM_CATEGORY_CIVIC_INTEGRITY"
                          ]
                        },
                        "threshold": {
                          "type": "string",
                          "enum": [
                            "BLOCK_NONE",
                            "BLOCK_ONLY_HIGH",
                            "BLOCK_MEDIUM_AND_ABOVE",
                            "BLOCK_LOW_AND_ABOVE",
                            "OFF"
                          ]
                        }
                      }
                    }
                  },
                  "cachedContent": {
                    "type": "string",
                    "description": "V1Beta Models Model Generatecontent Cachedcontent"
                  }
                }
              },
              "example": {
                "contents": [
                  {
                    "role": "user",
                    "parts": [
                      {
                        "text": "Hello!"
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "V1Beta Models Model Generatecontent Response 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "candidates": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "content": {
                            "type": "object",
                            "properties": {
                              "parts": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "text": {
                                      "type": "string"
                                    },
                                    "thought": {
                                      "type": "boolean",
                                      "description": "V1Beta Models Model Generatecontent Response 200 Candidates Parts Thought"
                                    }
                                  }
                                }
                              },
                              "role": {
                                "type": "string"
                              }
                            }
                          },
                          "finishReason": {
                            "type": "string",
                            "enum": [
                              "STOP",
                              "MAX_TOKENS",
                              "SAFETY",
                              "RECITATION",
                              "LANGUAGE",
                              "OTHER",
                              "BLOCKLIST",
                              "PROHIBITED_CONTENT",
                              "SPII",
                              "MALFORMED_FUNCTION_CALL"
                            ]
                          },
                          "index": {
                            "type": "integer"
                          },
                          "safetyRatings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "category": {
                                  "type": "string"
                                },
                                "probability": {
                                  "type": "string"
                                },
                                "blocked": {
                                  "type": "boolean"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "usageMetadata": {
                      "type": "object",
                      "properties": {
                        "promptTokenCount": {
                          "type": "integer"
                        },
                        "candidatesTokenCount": {
                          "type": "integer"
                        },
                        "totalTokenCount": {
                          "type": "integer"
                        },
                        "thoughtsTokenCount": {
                          "type": "integer"
                        },
                        "promptTokensDetails": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "modality": {
                                "type": "string"
                              },
                              "tokenCount": {
                                "type": "integer"
                              }
                            }
                          }
                        },
                        "candidatesTokensDetails": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "modality": {
                                "type": "string"
                              },
                              "tokenCount": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    },
                    "modelVersion": {
                      "type": "string"
                    },
                    "responseId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "V1Beta Models Model Generatecontent Response 400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/models/{model}:streamGenerateContent": {
      "post": {
        "summary": "Gemini Stream Generate Content",
        "description": "V1Beta Models Model Generatecontent",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "gemini-2.0-flash",
                "gemini-2.5-flash",
                "gemini-2.5-flash-lite",
                "gemini-2.5-pro",
                "gemini-3-flash-preview",
                "gemini-3.5-flash",
                "gemini-3.0-pro",
                "gemini-3.1-pro",
                "gemini-3.1-flash-lite-preview",
                "gemini-3.1-flash-image",
                "gemini-2.5-flash-image",
                "gemini-3-pro-image"
              ],
              "example": "gemini-2.5-flash"
            },
            "description": "V1Beta Models Model Generatecontent Param Model 2"
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "sse"
              ]
            },
            "description": "V1Beta Models Model Generatecontent Param Alt"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "contents"
                ],
                "properties": {
                  "contents": {
                    "type": "array",
                    "description": "V1Beta Models Model Generatecontent Contents",
                    "items": {
                      "type": "object",
                      "required": [
                        "parts"
                      ],
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "user",
                            "model"
                          ],
                          "description": "V1Beta Models Model Generatecontent Contents Role"
                        },
                        "parts": {
                          "type": "array",
                          "description": "V1Beta Models Model Generatecontent Contents Parts",
                          "items": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string",
                                "description": "V1Beta Models Model Generatecontent Contents Parts Text"
                              },
                              "inlineData": {
                                "type": "object",
                                "description": "V1Beta Models Model Generatecontent Contents Parts Inlinedata",
                                "properties": {
                                  "mimeType": {
                                    "type": "string",
                                    "description": "V1Beta Models Model Generatecontent Contents Parts Inlinedata Mimetype"
                                  },
                                  "data": {
                                    "type": "string",
                                    "description": "V1Beta Models Model Generatecontent Contents Parts Inlinedata Data"
                                  }
                                }
                              },
                              "fileData": {
                                "type": "object",
                                "description": "V1Beta Models Model Generatecontent Contents Parts Filedata",
                                "properties": {
                                  "mimeType": {
                                    "type": "string"
                                  },
                                  "fileUri": {
                                    "type": "string"
                                  }
                                }
                              },
                              "functionCall": {
                                "type": "object",
                                "description": "V1Beta Models Model Generatecontent Contents Parts Functioncall",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "args": {
                                    "type": "object"
                                  }
                                }
                              },
                              "functionResponse": {
                                "type": "object",
                                "description": "V1Beta Models Model Generatecontent Contents Parts Functionresponse",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "response": {
                                    "type": "object"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "systemInstruction": {
                    "type": "object",
                    "description": "V1Beta Models Model Generatecontent Systeminstruction",
                    "properties": {
                      "parts": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "text": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "generationConfig": {
                    "type": "object",
                    "description": "V1Beta Models Model Generatecontent Generationconfig",
                    "properties": {
                      "stopSequences": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "V1Beta Models Model Generatecontent Generationconfig Stopsequences"
                      },
                      "responseMimeType": {
                        "type": "string",
                        "description": "V1Beta Models Model Generatecontent Generationconfig Responsemimetype",
                        "enum": [
                          "text/plain",
                          "application/json",
                          "text/x.enum"
                        ]
                      },
                      "responseSchema": {
                        "type": "object",
                        "description": "V1Beta Models Model Generatecontent Generationconfig Responseschema"
                      },
                      "responseModalities": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "TEXT",
                            "IMAGE",
                            "AUDIO"
                          ]
                        },
                        "description": "V1Beta Models Model Generatecontent Generationconfig Responsemodalities"
                      },
                      "candidateCount": {
                        "type": "integer",
                        "description": "V1Beta Models Model Generatecontent Generationconfig Candidatecount"
                      },
                      "maxOutputTokens": {
                        "type": "integer",
                        "description": "V1Beta Models Model Generatecontent Generationconfig Maxoutputtokens"
                      },
                      "temperature": {
                        "type": "number",
                        "description": "V1Beta Models Model Generatecontent Generationconfig Temperature",
                        "minimum": 0,
                        "maximum": 2
                      },
                      "topP": {
                        "type": "number",
                        "description": "V1Beta Models Model Generatecontent Generationconfig Topp"
                      },
                      "topK": {
                        "type": "integer",
                        "description": "V1Beta Models Model Generatecontent Generationconfig Topk"
                      },
                      "seed": {
                        "type": "integer",
                        "description": "V1Beta Models Model Generatecontent Generationconfig Seed"
                      },
                      "presencePenalty": {
                        "type": "number",
                        "description": "V1Beta Models Model Generatecontent Generationconfig Presencepenalty"
                      },
                      "frequencyPenalty": {
                        "type": "number",
                        "description": "V1Beta Models Model Generatecontent Generationconfig Frequencypenalty"
                      },
                      "thinkingConfig": {
                        "type": "object",
                        "description": "V1Beta Models Model Generatecontent Generationconfig Thinkingconfig",
                        "properties": {
                          "includeThoughts": {
                            "type": "boolean",
                            "description": "V1Beta Models Model Generatecontent Generationconfig Thinkingconfig Includethoughts"
                          },
                          "thinkingBudget": {
                            "type": "integer",
                            "description": "V1Beta Models Model Generatecontent Generationconfig Thinkingconfig Thinkingbudget"
                          }
                        }
                      },
                      "imageConfig": {
                        "type": "object",
                        "description": "V1Beta Models Model Generatecontent Generationconfig Imageconfig",
                        "properties": {
                          "aspectRatio": {
                            "type": "string",
                            "description": "V1Beta Models Model Generatecontent Generationconfig Imageconfig Aspectratio"
                          },
                          "imageSize": {
                            "type": "string",
                            "enum": [
                              "512",
                              "1K",
                              "2K",
                              "4K"
                            ],
                            "description": "V1Beta Models Model Generatecontent Generationconfig Imageconfig Imagesize"
                          }
                        }
                      },
                      "speechConfig": {
                        "type": "object",
                        "description": "V1Beta Models Model Generatecontent Generationconfig Speechconfig"
                      }
                    }
                  },
                  "tools": {
                    "type": "array",
                    "description": "V1Beta Models Model Generatecontent Tools",
                    "items": {
                      "type": "object",
                      "properties": {
                        "functionDeclarations": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "object"
                              }
                            },
                            "required": [
                              "name"
                            ]
                          }
                        },
                        "codeExecution": {
                          "type": "object",
                          "description": "V1Beta Models Model Generatecontent Tools Codeexecution"
                        },
                        "googleSearch": {
                          "type": "object",
                          "description": "V1Beta Models Model Generatecontent Tools Googlesearch"
                        },
                        "urlContext": {
                          "type": "object",
                          "description": "V1Beta Models Model Generatecontent Tools Urlcontext"
                        }
                      }
                    }
                  },
                  "toolConfig": {
                    "type": "object",
                    "description": "V1Beta Models Model Generatecontent Toolconfig",
                    "properties": {
                      "functionCallingConfig": {
                        "type": "object",
                        "properties": {
                          "mode": {
                            "type": "string",
                            "enum": [
                              "MODE_UNSPECIFIED",
                              "AUTO",
                              "ANY",
                              "NONE"
                            ]
                          },
                          "allowedFunctionNames": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "safetySettings": {
                    "type": "array",
                    "description": "V1Beta Models Model Generatecontent Safetysettings",
                    "items": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "enum": [
                            "HARM_CATEGORY_HARASSMENT",
                            "HARM_CATEGORY_HATE_SPEECH",
                            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
                            "HARM_CATEGORY_DANGEROUS_CONTENT",
                            "HARM_CATEGORY_CIVIC_INTEGRITY"
                          ]
                        },
                        "threshold": {
                          "type": "string",
                          "enum": [
                            "BLOCK_NONE",
                            "BLOCK_ONLY_HIGH",
                            "BLOCK_MEDIUM_AND_ABOVE",
                            "BLOCK_LOW_AND_ABOVE",
                            "OFF"
                          ]
                        }
                      }
                    }
                  },
                  "cachedContent": {
                    "type": "string",
                    "description": "V1Beta Models Model Generatecontent Cachedcontent"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "V1Beta Models Model Generatecontent Response 200 2",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "candidates": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "content": {
                              "type": "object",
                              "properties": {
                                "parts": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "text": {
                                        "type": "string"
                                      },
                                      "thought": {
                                        "type": "boolean",
                                        "description": "V1Beta Models Model Generatecontent Response 200 Candidates Parts Thought"
                                      }
                                    }
                                  }
                                },
                                "role": {
                                  "type": "string"
                                }
                              }
                            },
                            "finishReason": {
                              "type": "string",
                              "enum": [
                                "STOP",
                                "MAX_TOKENS",
                                "SAFETY",
                                "RECITATION",
                                "LANGUAGE",
                                "OTHER",
                                "BLOCKLIST",
                                "PROHIBITED_CONTENT",
                                "SPII",
                                "MALFORMED_FUNCTION_CALL"
                              ]
                            },
                            "index": {
                              "type": "integer"
                            },
                            "safetyRatings": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "category": {
                                    "type": "string"
                                  },
                                  "probability": {
                                    "type": "string"
                                  },
                                  "blocked": {
                                    "type": "boolean"
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "usageMetadata": {
                        "type": "object",
                        "properties": {
                          "promptTokenCount": {
                            "type": "integer"
                          },
                          "candidatesTokenCount": {
                            "type": "integer"
                          },
                          "totalTokenCount": {
                            "type": "integer"
                          },
                          "thoughtsTokenCount": {
                            "type": "integer"
                          },
                          "promptTokensDetails": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "modality": {
                                  "type": "string"
                                },
                                "tokenCount": {
                                  "type": "integer"
                                }
                              }
                            }
                          },
                          "candidatesTokensDetails": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "modality": {
                                  "type": "string"
                                },
                                "tokenCount": {
                                  "type": "integer"
                                }
                              }
                            }
                          }
                        }
                      },
                      "modelVersion": {
                        "type": "string"
                      },
                      "responseId": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/gemini/videos": {
      "post": {
        "summary": "Gemini Videos",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "task_id": "b8976e18-32dc-4718-9ed8-1ea090fcb6ea",
                    "trace_id": "fb751e1e-4705-49ea-9fd4-5024b7865ea2",
                    "data": [
                      {
                        "id": "omni-flash:job_01k777hjrbfrgs2060q5zvf2a5",
                        "video_url": "https://cdn.acedata.cloud/43a57990c0.mp4",
                        "state": "succeeded"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Gemini Videos Response 200 Success"
                    },
                    "task_id": {
                      "type": "string",
                      "description": "Gemini Videos Response 200 Task Id"
                    },
                    "trace_id": {
                      "type": "string",
                      "description": "Gemini Videos Response 200 Trace Id"
                    },
                    "data": {
                      "type": "array",
                      "description": "Gemini Videos Response 200 Data",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Gemini Videos Response 200 Data Id"
                          },
                          "video_url": {
                            "type": "string",
                            "description": "Gemini Videos Response 200 Data Video Url"
                          },
                          "state": {
                            "type": "string",
                            "enum": [
                              "pending",
                              "succeeded",
                              "failed"
                            ],
                            "description": "Gemini Videos Response 200 Data State"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "description": "Gemini Videos Response 200"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "bad_request",
                          "message": "prompt is required when generate video."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "bad_request",
                              "description": "Gemini Videos Response 400 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "prompt is required when generate video.",
                              "description": "Gemini Videos Response 400 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Gemini Videos Response 400 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Gemini Videos Response 400"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Gemini Videos Response 401 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Gemini Videos Response 401 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Gemini Videos Response 401 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Gemini Videos Response 401"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "used_up",
                          "message": "Your balance is not sufficient for current request, please buy more in Ace Data Cloud."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "used_up",
                              "description": "Gemini Videos Response 403 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "Your balance is not sufficient for current request, please buy more in Ace Data Cloud.",
                              "description": "Gemini Videos Response 403 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Gemini Videos Response 403 Trace Id"
                        }
                      }
                    }
[...]
