{
  "openapi": "3.0.0",
  "info": {
    "title": "Suno Music Generation",
    "version": "1.0.0",
    "description": "API reference for Suno Music Generation on Ace Data Cloud."
  },
  "servers": [
    {
      "url": "https://api.acedata.cloud",
      "description": "Ace Data Cloud API"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token from https://platform.acedata.cloud"
      }
    },
    "schemas": {
      "SunoTaskRequestPayload": {
        "type": "object",
        "additionalProperties": true,
        "description": "Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Sunotaskrequestpayload.3E062458C7F6"
      },
      "SunoTaskResultPayload": {
        "type": "object",
        "additionalProperties": true,
        "description": "Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Sunotaskresultpayload.70C135D0B754"
      },
      "SunoTaskRecord": {
        "type": "object",
        "required": [
          "id",
          "type",
          "created_at",
          "trace_id",
          "request"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Id.2Ce47Ae4F765"
          },
          "type": {
            "type": "string",
            "description": "Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Type.05Af5F440924"
          },
          "trace_id": {
            "type": "string",
            "description": "Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Trace Id.44110346F517"
          },
          "request": {
            "$ref": "#/components/schemas/SunoTaskRequestPayload"
          },
          "response": {
            "$ref": "#/components/schemas/SunoTaskResultPayload"
          },
          "created_at": {
            "type": "number",
            "format": "double",
            "description": "Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Created At.948F43Af8E76"
          },
          "started_at": {
            "type": "number",
            "format": "double",
            "description": "Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Started At.C19F4A52708A"
          },
          "finished_at": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "description": "Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Finished At.8F12D5548Eb7"
          },
          "elapsed": {
            "type": "number",
            "format": "double",
            "minimum": 0,
            "nullable": true,
            "description": "Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Elapsed.17Db47167Dec"
          },
          "user_id": {
            "type": "string",
            "description": "Openapi.F1143F0B81464Fc0B02Cac8Db969392D.User Id.D0C635924606"
          },
          "actor_user_id": {
            "type": "string",
            "nullable": true,
            "description": "Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Actor User Id.E7726Bfef8Aa"
          },
          "api_id": {
            "type": "string",
            "description": "Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Api Id.A1656C524De0"
          },
          "application_id": {
            "type": "string",
            "description": "Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Application Id.22Aafdc143Ef"
          },
          "credential_id": {
            "type": "string",
            "nullable": true,
            "description": "Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Credential Id.Feaa9Eb189Eb"
          },
          "authorization_id": {
            "type": "string",
            "nullable": true,
            "description": "Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Authorization Id.0Ad648E308Bd"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/suno/audios": {
      "post": {
        "summary": "Suno Audios",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": [
                      {
                        "id": "1b694cae-8b5f-424f-a5bf-2f27b7697843",
                        "lyric": "[Verse]\nSnowflakes falling like whispered dreams\nFrosty windows\nCocoa steam\nCandles flicker\nHearts aglow\nThe quiet hum of winter’s show\n[Chorus]\nOh the world feels soft tonight\nWrapped in stars and silver light\nChristmas whispers\nHold it tight\nSnowfall serenade\n[Verse 2]\nFootprints weaving through the white\nEvery step feels just so right\nLaughter echoes\nFires burn\nEvery corner a joy to turn\n[Prechorus]\nHolly hangs and bells will ring\nMagic hums in everything\n[Chorus]\nOh the world feels soft tonight\nWrapped in stars and silver light\nChristmas whispers\nHold it tight\nSnowfall serenade\n[Bridge]\nStockings hung with quiet care\nDreams and wishes fill the air\nA moment frozen\nTime stands still\nHearts align\nThey always will",
                        "model": "chirp-v3",
                        "state": "succeeded",
                        "style": "uplifting, orchestral with sleigh bells and warm strings",
                        "title": "Snowfall Serenade",
                        "prompt": "A song for Christmas",
                        "duration": 240,
                        "audio_url": "https://cdn.acedata.cloud/assets/examples/fish/5ade0339-5f11-487e-aacc-06a908271706-8e3fcb0e5547.mp3",
                        "image_url": "https://cdn.acedata.cloud/e724d7f13d.png",
                        "video_url": "",
                        "created_at": "2025-07-29T01:28:32.508Z"
                      },
                      {
                        "id": "532f4ae0-48fb-4604-9c68-350897373522",
                        "lyric": "[Verse]\nSnowflakes falling like whispered dreams\nFrosty windows\nCocoa steam\nCandles flicker\nHearts aglow\nThe quiet hum of winter’s show\n[Chorus]\nOh the world feels soft tonight\nWrapped in stars and silver light\nChristmas whispers\nHold it tight\nSnowfall serenade\n[Verse 2]\nFootprints weaving through the white\nEvery step feels just so right\nLaughter echoes\nFires burn\nEvery corner a joy to turn\n[Prechorus]\nHolly hangs and bells will ring\nMagic hums in everything\n[Chorus]\nOh the world feels soft tonight\nWrapped in stars and silver light\nChristmas whispers\nHold it tight\nSnowfall serenade\n[Bridge]\nStockings hung with quiet care\nDreams and wishes fill the air\nA moment frozen\nTime stands still\nHearts align\nThey always will",
                        "model": "chirp-v3",
                        "state": "succeeded",
                        "style": "uplifting, orchestral with sleigh bells and warm strings",
                        "title": "Snowfall Serenade",
                        "prompt": "A song for Christmas",
                        "duration": 240,
                        "audio_url": "https://cdn.acedata.cloud/assets/examples/fish/5ade0339-5f11-487e-aacc-06a908271706-8e3fcb0e5547.mp3",
                        "image_url": "https://cdn.acedata.cloud/e724d7f13d.png",
                        "video_url": "",
                        "created_at": "2025-07-29T01:28:32.508Z"
                      }
                    ],
                    "success": true,
                    "task_id": "6a8fe7f7-3897-43e4-ad1e-5d0792fb3dba",
                    "trace_id": "2b63eb64-8244-48fa-9d67-8c46041666fe"
                  },
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "Suno Audios Response 200 Data",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Suno Audios Response 200 Data Id"
                          },
                          "lyric": {
                            "type": "string",
                            "description": "Suno Audios Response 200 Data Lyric"
                          },
                          "model": {
                            "type": "string",
                            "description": "Suno Audios Response 200 Data Model"
                          },
                          "state": {
                            "type": "string",
                            "description": "Suno Audios Response 200 Data State"
                          },
                          "style": {
                            "type": "string",
                            "description": "Suno Audios Response 200 Data Style"
                          },
                          "title": {
                            "type": "string",
                            "description": "Suno Audios Response 200 Data Title"
                          },
                          "prompt": {
                            "type": "string",
                            "description": "Suno Audios Response 200 Data Prompt"
                          },
                          "duration": {
                            "type": "number",
                            "description": "Suno Audios Response 200 Data Duration"
                          },
                          "audio_url": {
                            "type": "string",
                            "description": "Suno Audios Response 200 Data Audio Url"
                          },
                          "image_url": {
                            "type": "string",
                            "description": "Suno Audios Response 200 Data Image Url"
                          },
                          "video_url": {
                            "type": "string",
                            "description": "Suno Audios Response 200 Data Video Url"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Suno Audios Response 200 Data Created At"
                          },
                          "stem_set": {
                            "type": "integer",
                            "minimum": 1,
                            "description": "Suno Audios Response 200 Data Stem Set"
                          }
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Suno Audios Response 200 Success"
                    },
                    "task_id": {
                      "type": "string",
                      "description": "Suno Audios Response 200 Task Id"
                    },
                    "trace_id": {
                      "type": "string",
                      "description": "Suno Audios Response 200 Trace Id"
                    },
                    "stem_sets": {
                      "type": "array",
                      "description": "Suno Audios Response 200 Stem Sets",
                      "items": {
                        "type": "object",
                        "required": [
                          "stem_type",
                          "isolated",
                          "remainder"
                        ],
                        "properties": {
                          "stem_type": {
                            "type": "string",
                            "enum": [
                              "vocals",
                              "backing_vocals",
                              "drums",
                              "bass",
                              "guitar",
                              "keyboard",
                              "percussion",
                              "strings",
                              "synth",
                              "fx",
                              "brass",
                              "woodwinds"
                            ],
                            "description": "Suno Audios Response 200 Stem Type"
                          },
                          "isolated": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Suno Audios Response 200 Data Id"
                              },
                              "lyric": {
                                "type": "string",
                                "description": "Suno Audios Response 200 Data Lyric"
                              },
                              "model": {
                                "type": "string",
                                "description": "Suno Audios Response 200 Data Model"
                              },
                              "state": {
                                "type": "string",
                                "description": "Suno Audios Response 200 Data State"
                              },
                              "style": {
                                "type": "string",
                                "description": "Suno Audios Response 200 Data Style"
                              },
                              "title": {
                                "type": "string",
                                "description": "Suno Audios Response 200 Data Title"
                              },
                              "prompt": {
                                "type": "string",
                                "description": "Suno Audios Response 200 Data Prompt"
                              },
                              "duration": {
                                "type": "number",
                                "description": "Suno Audios Response 200 Data Duration"
                              },
                              "audio_url": {
                                "type": "string",
                                "description": "Suno Audios Response 200 Data Audio Url"
                              },
                              "image_url": {
                                "type": "string",
                                "description": "Suno Audios Response 200 Data Image Url"
                              },
                              "video_url": {
                                "type": "string",
                                "description": "Suno Audios Response 200 Data Video Url"
                              },
                              "created_at": {
                                "type": "string",
                                "description": "Suno Audios Response 200 Data Created At"
                              },
                              "stem_set": {
                                "type": "integer",
                                "minimum": 1,
                                "description": "Suno Audios Response 200 Data Stem Set"
                              }
                            }
                          },
                          "remainder": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Suno Audios Response 200 Data Id"
                              },
                              "lyric": {
                                "type": "string",
                                "description": "Suno Audios Response 200 Data Lyric"
                              },
                              "model": {
                                "type": "string",
                                "description": "Suno Audios Response 200 Data Model"
                              },
                              "state": {
                                "type": "string",
                                "description": "Suno Audios Response 200 Data State"
                              },
                              "style": {
                                "type": "string",
                                "description": "Suno Audios Response 200 Data Style"
                              },
                              "title": {
                                "type": "string",
                                "description": "Suno Audios Response 200 Data Title"
                              },
                              "prompt": {
                                "type": "string",
                                "description": "Suno Audios Response 200 Data Prompt"
                              },
                              "duration": {
                                "type": "number",
                                "description": "Suno Audios Response 200 Data Duration"
                              },
                              "audio_url": {
                                "type": "string",
                                "description": "Suno Audios Response 200 Data Audio Url"
                              },
                              "image_url": {
                                "type": "string",
                                "description": "Suno Audios Response 200 Data Image Url"
                              },
                              "video_url": {
                                "type": "string",
                                "description": "Suno Audios Response 200 Data Video Url"
                              },
                              "created_at": {
                                "type": "string",
                                "description": "Suno Audios Response 200 Data Created At"
                              },
                              "stem_set": {
                                "type": "integer",
                                "minimum": 1,
                                "description": "Suno Audios Response 200 Data Stem Set"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "description": "Suno Audios Response 200"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Suno Audios Response 400 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Suno Audios Response 400 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Audios Response 400 Trace Id"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_not_implemented",
                          "message": "The API is not implemented."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_not_implemented",
                              "description": "Suno Audios Response 400 Error Code 2"
                            },
                            "message": {
                              "type": "string",
                              "example": "The API is not implemented.",
                              "description": "Suno Audios Response 400 Error Message 2"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Audios Response 400 Trace Id 2"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "disabled",
                          "message": "Your application has been disabled by Ace Data Cloud due to abnormal usage behavior, please contact our support to get more information."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "disabled",
                              "description": "Suno Audios Response 400 Error Code 3"
                            },
                            "message": {
                              "type": "string",
                              "example": "Your application has been disabled by Ace Data Cloud due to abnormal usage behavior, please contact our support to get more information.",
                              "description": "Suno Audios Response 400 Error Message 3"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Audios Response 400 Trace Id 3"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "bad_request",
                          "message": "model is invalid."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "bad_request",
                              "description": "Suno Audios Response 400 Error Code 4"
                            },
                            "message": {
                              "type": "string",
                              "example": "model is invalid.",
                              "description": "Suno Audios Response 400 Error Message 4"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Audios Response 400 Trace Id 4"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "no_token",
                          "message": "No token specified for the request."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "no_token",
                              "description": "Suno Audios Response 400 Error Code 5"
                            },
                            "message": {
                              "type": "string",
                              "example": "No token specified for the request.",
                              "description": "Suno Audios Response 400 Error Message 5"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Audios Response 400 Trace Id 5"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Suno Audios Response 400"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Suno Audios Response 401 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Suno Audios Response 401 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Audios Response 401 Trace Id"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_expired",
                          "message": "token expired."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_expired",
                              "description": "Suno Audios Response 401 Error Code 2"
                            },
                            "message": {
                              "type": "string",
                              "example": "token expired.",
                              "description": "Suno Audios Response 401 Error Message 2"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Audios Response 401 Trace Id 2"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "token and api does not match."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Suno Audios Response 401 Error Code 3"
                            },
                            "message": {
                              "type": "string",
                              "example": "token and api does not match.",
                              "description": "Suno Audios Response 401 Error Message 3"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Audios Response 401 Trace Id 3"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Suno Audios Response 401"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "used_up",
                          "message": "Your balance is not sufficient for current request, please buy more in Ace Data Cloud."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "used_up",
                              "description": "Suno Audios Response 403 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "Your balance is not sufficient for current request, please buy more in Ace Data Cloud.",
                              "description": "Suno Audios Response 403 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Audios Response 403 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Suno Audios Response 403"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "no_api",
                          "message": "API does not exist, please make sure url is correct."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "no_api",
                              "description": "Suno Audios Response 404 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "API does not exist, please make sure url is correct.",
                              "description": "Suno Audios Response 404 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Audios Response 404 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Suno Audios Response 404"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Suno Audios Response 429 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Suno Audios Response 429 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Audios Response 429 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Suno Audios Response 429"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Suno Audios Response 500 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Suno Audios Response 500 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Audios Response 500 Trace Id"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "busy",
                          "message": "api is currently busy, please try again later."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "busy",
                              "description": "Suno Audios Response 500 Error Code 2"
                            },
                            "message": {
                              "type": "string",
                              "example": "api is currently busy, please try again later.",
                              "description": "Suno Audios Response 500 Error Message 2"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Audios Response 500 Trace Id 2"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Suno Audios Response 500"
          },
          "504": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "timeout",
                          "message": "timeout while waiting for audio generation"
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "timeout",
                              "description": "Suno Audios Response 504 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "timeout while waiting for audio generation",
                              "description": "Suno Audios Response 504 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Audios Response 504 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Suno Audios Response 504"
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json",
                "application/x-ndjson"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Suno Audios Param Accept"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lyric": {
                    "type": "string",
                    "description": "Suno Audios Lyric"
                  },
                  "model": {
                    "enum": [
                      "chirp-v6",
                      "chirp-v6-wild",
                      "chirp-v6-mini",
                      "chirp-v5-5",
                      "chirp-v5",
                      "chirp-v4-5-plus",
                      "chirp-v4-5",
                      "chirp-v4",
                      "chirp-v3-5",
                      "chirp-v3-0"
                    ],
                    "type": "string",
                    "example": "chirp-v6",
                    "description": "Suno Audios Model"
                  },
                  "max_mode": {
                    "type": "boolean",
                    "default": false,
                    "description": "Suno Audios Max Mode"
                  },
                  "variety": {
                    "enum": [
                      "off",
                      "normal",
                      "high",
                      "extra",
                      "max"
                    ],
                    "type": "string",
                    "description": "Suno Audios Variety"
                  },
                  "style": {
                    "type": "string",
                    "description": "Suno Audios Style"
                  },
                  "variation_category": {
                    "type": "string",
                    "description": "Suno Audios Variation Category",
                    "enum": [
                      "high",
                      "normal",
                      "subtle"
                    ]
                  },
                  "title": {
                    "type": "string",
                    "description": "Suno Audios Title"
                  },
                  "action": {
                    "enum": [
                      "generate",
                      "extend",
                      "upload_extend",
                      "upload_cover",
                      "concat",
                      "cover",
                      "artist_consistency",
                      "artist_consistency_vox",
                      "stems",
                      "all_stems",
                      "add_stem",
                      "extract_stem",
                      "sounds",
                      "adjust_speed",
                      "replace_section",
                      "underpainting",
                      "overpainting",
                      "remaster",
                      "mashup",
                      "samples",
                      "inspo"
                    ],
                    "type": "string",
                    "example": "generate",
                    "description": "Suno Audios Action",
                    "default": "generate"
                  },
                  "custom": {
                    "type": "boolean",
                    "description": "Suno Audios Custom",
                    "default": false
                  },
                  "prompt": {
                    "type": "string",
                    "example": "A song for Christmas",
                    "description": "Suno Audios Prompt",
                    "additionalProperties": true
                  },
                  "lyric_prompt": {
                    "type": "string",
                    "description": "Suno Audios Lyric Prompt"
                  },
                  "audio_id": {
                    "type": "string",
                    "description": "Suno Audios Audio Id"
                  },
                  "stem_type": {
                    "type": "string",
                    "description": "Suno Audios Stem Type",
                    "enum": [
                      "vocals",
                      "backing_vocals",
                      "drums",
                      "bass",
                      "guitar",
                      "keyboard",
                      "percussion",
                      "strings",
                      "synth",
                      "fx",
                      "brass",
                      "woodwinds"
                    ]
                  },
                  "audio_format": {
                    "type": "string",
                    "description": "Suno Audios Audio Format",
                    "enum": [
                      "mp3"
                    ]
                  },
                  "sound": {
                    "type": "string",
                    "description": "Suno Audios Sound"
                  },
                  "sound_type": {
                    "type": "string",
                    "enum": [
                      "one-shot",
                      "loop"
                    ],
                    "description": "Suno Audios Sound Type"
                  },
                  "bpm": {
                    "type": "integer",
                    "description": "Suno Audios Bpm",
                    "minimum": 1,
                    "maximum": 300
                  },
                  "key": {
                    "type": "string",
                    "description": "Suno Audios Key"
                  },
                  "speed_multiplier": {
                    "type": "number",
                    "minimum": 0.25,
                    "maximum": 4,
                    "description": "Suno Audios Speed Multiplier"
                  },
                  "keep_pitch": {
                    "type": "boolean",
                    "description": "Suno Audios Keep Pitch",
                    "default": false
                  },
                  "mashup_audio_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Suno Audios Mashup Audio Ids"
                  },
                  "audio_urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "^https?://"
                    },
                    "example": [
                      "https://cdn.acedata.cloud/uploads/a0bc051f-42c2-4a46-aeb4-582dcc884ad2"
                    ],
                    "description": "Suno Audios Audio Urls",
                    "minItems": 1,
                    "maxItems": 4
                  },
                  "weirdness": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "description": "Suno Audios Weirdness"
                  },
                  "persona_id": {
                    "type": "string",
                    "description": "Suno Audios Persona Id"
                  },
                  "overpainting_start": {
                    "type": "number",
                    "description": "Suno Audios Overpainting Start"
                  },
                  "overpainting_end": {
                    "type": "number",
                    "description": "Suno Audios Overpainting End"
                  },
                  "samples_start": {
                    "type": "number",
                    "description": "Suno Audios Samples Start"
                  },
                  "samples_end": {
                    "type": "number",
                    "description": "Suno Audios Samples End"
                  },
                  "underpainting_start": {
                    "type": "number",
                    "description": "Suno Audios Underpainting Start"
                  },
                  "underpainting_end": {
                    "type": "number",
                    "description": "Suno Audios Underpainting End"
                  },
                  "continue_at": {
                    "type": "number",
                    "description": "Suno Audios Continue At"
                  },
                  "callback_url": {
                    "type": "string",
                    "description": "Suno Audios Callback Url"
                  },
                  "async": {
                    "type": "boolean",
                    "description": "Suno Audios Async"
                  },
                  "instrumental": {
                    "type": "boolean",
                    "description": "Suno Audios Instrumental"
                  },
                  "vocal_gender": {
                    "type": "string",
                    "description": "Suno Audios Vocal Gender",
                    "enum": [
                      "f",
                      "m"
                    ]
                  },
                  "negative_tags": {
                    "type": "string",
                    "description": "Suno Audios Negative Tags"
                  },
                  "style_influence": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "description": "Suno Audios Style Influence"
                  },
                  "audio_weight": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "description": "Suno Audios Audio Weight"
                  },
                  "duration": {
                    "type": "integer",
                    "description": "Suno Audios Duration",
                    "minimum": 10,
                    "maximum": 360
                  },
                  "replace_section_end": {
                    "type": "number",
                    "description": "Suno Audios Replace Section End"
                  },
                  "replace_section_result_mode": {
                    "type": "string",
                    "enum": [
                      "candidates",
                      "full_song"
                    ],
                    "description": "Suno Audios Replace Section Result Mode",
                    "default": "full_song"
                  },
                  "replace_section_start": {
                    "type": "number",
                    "description": "Suno Audios Replace Section Start"
                  }
                }
              }
            }
          },
          "required": true
        },
        "operationId": "createSunoAudios"
      }
    },
    "/suno/persona": {
      "post": {
        "summary": "Suno Persona",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": {
                      "persona_id": "eae26f89-b64b-404d-a80c-761996660b1c"
                    },
                    "success": true
                  },
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "Suno Persona Response 200 Data",
                      "properties": {
                        "persona_id": {
                          "type": "string",
                          "description": "Suno Persona Response 200 Data Persona Id"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Suno Persona Response 200 Success"
                    }
                  }
                }
              }
            },
            "description": "Suno Persona Response 200"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Suno Persona Response 400 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Suno Persona Response 400 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Persona Response 400 Trace Id"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_not_implemented",
                          "message": "The API is not implemented."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_not_implemented",
                              "description": "Suno Persona Response 400 Error Code 2"
                            },
                            "message": {
                              "type": "string",
                              "example": "The API is not implemented.",
                              "description": "Suno Persona Response 400 Error Message 2"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Persona Response 400 Trace Id 2"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "disabled",
                          "message": "Your application has been disabled by Ace Data Cloud due to abnormal usage behavior, please contact our support to get more information."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "disabled",
                              "description": "Suno Persona Response 400 Error Code 3"
                            },
                            "message": {
                              "type": "string",
                              "example": "Your application has been disabled by Ace Data Cloud due to abnormal usage behavior, please contact our support to get more information.",
                              "description": "Suno Persona Response 400 Error Message 3"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Persona Response 400 Trace Id 3"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "bad_request",
                          "message": "model is invalid."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "bad_request",
                              "description": "Suno Persona Response 400 Error Code 4"
                            },
                            "message": {
                              "type": "string",
                              "example": "model is invalid.",
                              "description": "Suno Persona Response 400 Error Message 4"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Persona Response 400 Trace Id 4"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "no_token",
                          "message": "No token specified for the request."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "no_token",
                              "description": "Suno Persona Response 400 Error Code 5"
                            },
                            "message": {
                              "type": "string",
                              "example": "No token specified for the request.",
                              "description": "Suno Persona Response 400 Error Message 5"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Persona Response 400 Trace Id 5"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Suno Persona Response 400"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Suno Persona Response 401 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Suno Persona Response 401 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Persona Response 401 Trace Id"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_expired",
                          "message": "token expired."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_expired",
                              "description": "Suno Persona Response 401 Error Code 2"
                            },
                            "message": {
                              "type": "string",
                              "example": "token expired.",
                              "description": "Suno Persona Response 401 Error Message 2"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Persona Response 401 Trace Id 2"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "token and api does not match."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Suno Persona Response 401 Error Code 3"
                            },
                            "message": {
                              "type": "string",
                              "example": "token and api does not match.",
                              "description": "Suno Persona Response 401 Error Message 3"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Persona Response 401 Trace Id 3"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Suno Persona Response 401"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "used_up",
                          "message": "Your balance is not sufficient for current request, please buy more in Ace Data Cloud."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "used_up",
                              "description": "Suno Persona Response 403 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "Your balance is not sufficient for current request, please buy more in Ace Data Cloud.",
                              "description": "Suno Persona Response 403 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Persona Response 403 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Suno Persona Response 403"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "no_api",
                          "message": "API does not exist, please make sure url is correct."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "no_api",
                              "description": "Suno Persona Response 404 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "API does not exist, please make sure url is correct.",
                              "description": "Suno Persona Response 404 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Persona Response 404 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Suno Persona Response 404"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Suno Persona Response 429 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Suno Persona Response 429 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Persona Response 429 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Suno Persona Response 429"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Suno Persona Response 500 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Suno Persona Response 500 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Persona Response 500 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Suno Persona Response 500"
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json",
                "application/x-ndjson"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Suno Persona Param Accept"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "audio_id",
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Suno Persona Name"
                  },
                  "audio_id": {
                    "type": "string",
                    "description": "Suno Persona Audio Id"
                  },
                  "vox_audio_id": {
                    "type": "string",
                    "description": "Suno Persona Vox Audio Id"
                  },
                  "vocal_start": {
                    "type": "number",
                    "description": "Suno Persona Vocal Start"
                  },
                  "vocal_end": {
                    "type": "number",
                    "description": "Suno Persona Vocal End"
                  },
                  "description": {
                    "type": "string",
                    "description": "Suno Persona Description"
                  }
                }
              },
              "example": {
                "audio_id": "c5a97c83-ad13-4b0e-8655-0a68471062fb",
                "name": "Demo Persona"
              }
            }
          },
          "required": true
        },
        "operationId": "createSunoPersona"
      },
      "get": {
        "summary": "Suno Persona List",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "user_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Suno Persona Param User Id"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 50
            },
            "required": false,
            "description": "Suno Persona Param Limit"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "required": false,
            "description": "Suno Persona Param Offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "items": [
                      {
                        "persona_id": "eae26f89-b64b-404d-a80c-761996660b1c",
                        "user_id": "user-uuid",
                        "name": "My Voice",
                        "description": "Suno Persona Response 200 Example",
                        "source_type": "persona",
                        "created_at": 1714200000
                      }
                    ],
                    "count": 1
                  },
                  "properties": {
                    "items": {
                      "type": "array",
                      "description": "Suno Persona Response 200 2",
                      "items": {
                        "type": "object",
                        "description": "Openapi.C578B8Def9Fe42208D5F5Da7384705Fd.Items.2F7Bbf9B56D8",
                        "additionalProperties": false,
                        "properties": {
                          "persona_id": {
                            "type": "string"
                          },
                          "user_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "source_type": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "Suno Persona Response 200 Count"
                    }
                  }
                }
              }
            },
            "description": "Suno Persona Response 200 3"
          }
        },
        "operationId": "getSunoPersona"
      },
      "delete": {
        "summary": "Suno Persona Delete",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "persona_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Suno Persona Param Persona Id"
          },
          {
            "in": "query",
            "name": "user_id",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Suno Persona Param User Id 2"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Suno Persona Response 200 Success 2"
                    }
                  }
                }
              }
            },
            "description": "Suno Persona Response 200 4"
          }
        },
        "operationId": "deleteSunoPersona"
      }
    },
    "/suno/mp4": {
      "post": {
        "summary": "Suno Mp4",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": {
                      "video_url": "https://cdn.acedata.cloud/assets/examples/gemini/04a043bd-6b23-4b4e-945c-ce48158c3eee-3a89912507c7.mp4"
                    },
                    "success": true
                  },
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "Suno Mp4 Response 200 Data",
                      "properties": {
                        "video_url": {
                          "type": "string",
                          "description": "Suno Mp4 Response 200 Data Video Url"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Suno Mp4 Response 200 Success"
                    }
                  }
                }
              }
            },
            "description": "Suno Mp4 Response 200"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Suno Mp4 Response 400 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Suno Mp4 Response 400 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Mp4 Response 400 Trace Id"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_not_implemented",
                          "message": "The API is not implemented."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_not_implemented",
                              "description": "Suno Mp4 Response 400 Error Code 2"
                            },
                            "message": {
                              "type": "string",
                              "example": "The API is not implemented.",
                              "description": "Suno Mp4 Response 400 Error Message 2"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Mp4 Response 400 Trace Id 2"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "disabled",
                          "message": "Your application has been disabled by Ace Data Cloud due to abnormal usage behavior, please contact our support to get more information."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "disabled",
                              "description": "Suno Mp4 Response 400 Error Code 3"
                            },
                            "message": {
                              "type": "string",
                              "example": "Your application has been disabled by Ace Data Cloud due to abnormal usage behavior, please contact our support to get more information.",
                              "description": "Suno Mp4 Response 400 Error Message 3"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Mp4 Response 400 Trace Id 3"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "bad_request",
                          "message": "model is invalid."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "bad_request",
                              "description": "Suno Mp4 Response 400 Error Code 4"
                            },
                            "message": {
                              "type": "string",
                              "example": "model is invalid.",
                              "description": "Suno Mp4 Response 400 Error Message 4"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Mp4 Response 400 Trace Id 4"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "no_token",
                          "message": "No token specified for the request."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "no_token",
                              "description": "Suno Mp4 Response 400 Error Code 5"
                            },
                            "message": {
                              "type": "string",
                              "example": "No token specified for the request.",
                              "description": "Suno Mp4 Response 400 Error Message 5"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Mp4 Response 400 Trace Id 5"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Suno Mp4 Response 400"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Suno Mp4 Response 401 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Suno Mp4 Response 401 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Mp4 Response 401 Trace Id"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_expired",
                          "message": "token expired."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_expired",
                              "description": "Suno Mp4 Response 401 Error Code 2"
                            },
                            "message": {
                              "type": "string",
                              "example": "token expired.",
                              "description": "Suno Mp4 Response 401 Error Message 2"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Mp4 Response 401 Trace Id 2"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "token and api does not match."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Suno Mp4 Response 401 Error Code 3"
                            },
                            "message": {
                              "type": "string",
                              "example": "token and api does not match.",
                              "description": "Suno Mp4 Response 401 Error Message 3"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Mp4 Response 401 Trace Id 3"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Suno Mp4 Response 401"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "used_up",
                          "message": "Your balance is not sufficient for current request, please buy more in Ace Data Cloud."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "used_up",
                              "description": "Suno Mp4 Response 403 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "Your balance is not sufficient for current request, please buy more in Ace Data Cloud.",
                              "description": "Suno Mp4 Response 403 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Mp4 Response 403 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Suno Mp4 Response 403"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "no_api",
                          "message": "API does not exist, please make sure url is correct."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "no_api",
                              "description": "Suno Mp4 Response 404 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "API does not exist, please make sure url is correct.",
                              "description": "Suno Mp4 Response 404 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Mp4 Response 404 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Suno Mp4 Response 404"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Suno Mp4 Response 429 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Suno Mp4 Response 429 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Mp4 Response 429 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Suno Mp4 Response 429"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Suno Mp4 Response 500 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Suno Mp4 Response 500 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Suno Mp4 Response 500 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Suno Mp4 Response 500"
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json",
                "application/x-ndjson"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Suno Mp4 Param Accept"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "audio_id"
                ],
                "properties": {
                  "audio_id": {
                    "type": "string",
                    "description": "Suno Mp4 Audio Id"
                  }
                }
              },
              "example": {
                "audio_id": "c5a97c83-ad13-4b0e-8655-0a68471062fb"
              }
            }
          },
          "required": true
        },
        "operationId": "createSunoMp4"
      }
    },
    "/suno/voices": {
      "post": {
        "summary": "Suno Voices",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": {
                      "persona_id": "dde0be60-5280-4bd2-89a0-4020ddd3db52",
                      "name": "My Voice",
                      "is_public": false
                    },
                    "success": true,
                    "task_id": "8e808558-f056-456f-91d6-b97fd94eb3be"
                  },
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "Suno Voices Response 200 Data",
                      "properties": {
                        "persona_id": {
                          "type": "string",
                          "description": "Suno Voices Response 200 Data Persona Id"
                        },
                        "name": {
                          "type": "string",
                          "description": "Suno Voices Response 200 Data Name"
                        },
                        "is_public": {
                          "type": "boolean",
                          "description": "Suno Voices Response 200 Data Is Public"
                        }
                      }
                    },
                    "task_id": {
                      "type": "string",
                      "description": "Suno Voices Response 200 Task Id"
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Suno Voices Response 200 Success"
                    }
                  }
                }
              }
            },
            "description": "Suno Voices Response 200"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
[...]
